.actionPanel {
  display: flex;
  flex-direction: row;
  width: 100%;
  .testPanel {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    button {
      margin-left: 25px;
    }
  }
}

.logArea {
  margin-top: 20px;
  padding: 5px;
  font-family: monospace !important;
  resize: vertical;
}

.errorHighlight {
  background: #735603;
  border-bottom: yellow 2px dotted;
  padding: 0px 3px;
}

.tabInner {
  padding-top: 20px;
}

.settingsPanel {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
}
