.actionPanel {
  padding: 25px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .testPanel {
    display: flex;
    flex-direction: row;
    align-items: center;
    button {
      margin-left: 25px;
    }

    width: 75%;
  }
}

.logArea {
  padding: 5px;
  font-family: monospace !important;
}

.errorHighlight {
  background: #735603;
  border-bottom: yellow 2px dotted;
  padding: 0px 3px;
}
