.actionPanel {
  padding: 25px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .testPanel {
    display: flex;
    flex-direction: row;
    align-items: center;
    button {
      margin-left: 25px;
    }

    width: 75%;
  }
}
