.containerContent {
  width: 62%;
  margin: 0px auto;

  display: flex;
  flex-direction: column;
  gap: 20px 0;

  @media (max-width: 650px) {
    width: 82%;
  }

  @media (max-width: 540px) {
    width: 100% !important;
  }
}

.noMaxWidth {
  max-width: unset;
}
