.containerContent {
  width: 62%;
  margin: 0px auto;

  display: flex;
  flex-direction: column;
  gap: 20px 0;

  @media (max-width: 650px) {
    width: 82%;
  }

  @media (max-width: 500px) {
    width: 100% !important;
  }
}
