@import '../../style/mixins.scss';

.wrapper {
  a {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      height: 30px;
    }

    span {
      margin-top: 10px;
      font-size: 14px;

      @include withShareIcon;
      background-position-y: -1px;
    }

    &:hover {
      img {
        opacity: 0.7;
      }
    }
  }
}

.main {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 35px;
}

.code {
  margin-top: 20px;
}

.main,
.code,
.email {
  &,
  > div {
    gap: 0 20px;
  }
}

.email {
  display: inline-block !important;
  margin-top: 20px;
}
