.stars, .twinkl {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url('../../../../image/stars.png') repeat top center;
  z-index:0;
}

.twinkl{
  background:transparent url('../../../../image/twinkling.png') repeat top center;
  z-index:0;

  -moz-animation:move-twink-back 650s linear infinite;
  -ms-animation:move-twink-back 650s linear infinite;
  -o-animation:move-twink-back 650s linear infinite;
  -webkit-animation:move-twink-back 650s linear infinite;
  animation:move-twink-back 650s linear infinite;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}