@mixin box-shadow-green {
  box-shadow: #36d6ae 0px 0px 5px;
}

@mixin displayFlexGap {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}

@mixin border-card {
  box-shadow: #36d6ae 0px 0px 5px;
  border-radius: 5px;
  padding: 15px;
  // margin-bottom:20px
  margin-top:20px
}

@mixin ItemInfoValue {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
}

@mixin input-style {
  height: 42px;
  border: none;
  background-color: transparent;
  @include box-shadow-green;
  color: #fff;
  font-size: 18px;
  text-align: end;
  caret-color: #fff;
  padding: 2px 15px;
  border-radius: 5px;
}

.error{

}


.itemsTable {
td {
  border: 1px solid #1b1b1b;
  padding-left: 9px;
}
}
.containerWarpFields {
  @include displayFlexGap;
  &InputContainer {
    @include border-card;
    @include displayFlexGap;
    &Item {
      display: grid;
      grid-template-columns: 170px 1fr;
      &Error {
        display: grid;
        grid-template-columns: 170px 1fr;
        input {
          @include input-style;
          width: 100%;
          box-shadow: #d50f0f 0px 0px 5px !important;
        }

        span {
          margin-top:30px;
          line-height: 20px;
        }


        label {
          display: block
        }

        select {

          width: 100%;
          @include input-style;
          background: #000;
          box-shadow: #d50f0f 0px 0px 5px !important;
          margin-left:0px;
        }

      }
      &Editable {
        div {
          color:rgb(119, 119, 119);
          float: right;
          box-shadow: #36d6ae 0px 0px 5px !important;
          padding: 3px 10px 3px 10px
        }
      }



      input {
        width: 100%;
        @include input-style;
      }

      select {

        width: 100%;
        @include input-style;
        background: #000;
        margin-left:0px;
      }

      span {
        margin-top:30px;
        line-height: 20px;
      }


      label {
        display: block
      }


    }
  }

  &Result {
    @include border-card;
    @include displayFlexGap;
  }
}

