$text-color: #999999;

@mixin color-gray {
  color: $text-color;
}

@mixin flex-width($widthValue) {
  width: $widthValue;
  display: flex;
}

@mixin flex-space-between {
  @include flex-width(100%);
  justify-content: space-between;
}

@mixin flex-content-center {
  @include flex-width(100%);
  justify-content: center;
}

.title {
  @include flex-space-between;
  align-items: center;
}

.detailsReleaseStatus {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 30px;
}

.containerProcentValue {
  @include flex-space-between;
  @include color-gray;
}

.nextRelease {
  @include flex-content-center;
  @include color-gray;
  gap: 5px;

  &Value {
    color: #fff;
  }
}

.descriptionRules {
  @include color-gray;
}

.RowItemReleaseStatus {
  @include flex-space-between;
}

.containerRowItem {
  display: flex;
  flex-direction: column;
  gap: 20px
}