.wrapper {
  table thead {
    display: none;
  }
}

.nameCell {
  position: relative;
  padding-left: 30px;
  text-align: left;

  > span {
    color: var(--green-light);
    position: absolute;
    left: 10px;
  }

  > a {
    display: inline-flex;

    > img {
      margin-right: 7px;
      height: 20px;
      width: 20px;
    }
  }
}

.descriptionCell {
  text-align: left;
  display: flex;
  align-items: center;
  gap: 0 7px;
}

.smallText {
  font-size: 14px;
  color: #a0a0a0;
}
