.networkBtn {
  border: none;
  background: transparent;
  position: relative;
  cursor: pointer;

  &::before {
    content: '';
    width: 100px;
    height: 100px;
    background: #000000;
    box-shadow: 0px 0px 20px rgba(31, 203, 255, 0.4);
    position: absolute;
    border-radius: 50%;
    // z-index: -1;
    display: flex;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    transition: 0.2s;
  }
}

.networkBtnImg {
  width: 60px;
  height: 60px;
  position: relative;
}

.networkBtnImgIconMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.2s;
  transform: translate(-50%, -50%) rotate(-90deg);

  &Close {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }
}

@media (max-width: 768px) {
  .networkBtn {
    &::before {
      width: 60px;
      height: 60px;
    }
  }

  .networkBtnImg {
    width: 40px;
    height: 40px;
  }

  .networkBtnImgIconMenu {
    div {
      width: 25px;
      height: 3px;
      margin: 4px 0;
    }
  }
}

.btnContainerText {
  border: none;
  background: transparent;
  color: rgb(31, 203, 255);
  cursor: pointer;
}

.networkBtnImg {
  width: 60px;
  height: 60px;
  position: relative;
  transition: 0.2s;
}

.containerBtnItemSelect {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 25px;
  align-items: center;
  height: 100px;
  border: none;
  background: transparent;
  color: rgb(31, 203, 255);
  margin-top: -10px;
  cursor: pointer;

  &:hover {
    .networkBtn {
      &::before {
        width: 105px;
        height: 105px;
      }
    }
    .networkBtnImg {
      width: 65px;
      height: 65px;
    }

    .containerBtnItemSelectText {
      transform: translateX(5px);
    }
  }
}

.containerBtnItemSelectText {
  height: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
  transition: 0.4s;
}

.btnContainerTextHover {
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
  transition: 0.4s;
}

.containerSwichAccountHover {
  &:hover {
    .containerAvatarConnectHoverAbsolute {
      width: 105px;
      height: 105px;
    }
    .btnContainerTextHover {
      transform: translateX(-5px);
    }
    .containerKarma {
      transform: translateX(-5px);
    }
    .containerAvatarConnectTrue {
      &::before {
        width: 105px;
        height: 105px;
      }
    }
  }
}

.tooltipContainer {
  position: absolute;
  left: 0px !important;
  top: unset !important;
  z-index: 3;
}

.tooltipContainerRight {
  position: absolute;
  right: 0px !important;
  top: unset !important;
  left: unset !important;
  z-index: 3;
}

.sideBar {
  position: fixed;
  top: 140px;
  left: 0;
  bottom: 0;
  width: 218px;
  background: #000000;
  color: #fff;
  transition: 0.3s;
  z-index: 3;
  opacity: 0.9;
  box-shadow: 1px 0 20px 2px #000;
}

.sideBarHide {
  left: -250px;
}

.closeButton {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 24px;
  height: 24px;
  font-size: 0;
  border: none;
  background: url(./close.svg);
  cursor: pointer;
}

.containerSwichAccount {
  display: grid;
  grid-template-columns: 1fr 105px;
  gap: 25px;
  align-items: center;
  height: 105px;
}

@mixin before-Avatar {
  content: '';
  width: 100px;
  height: 100px;
  background: #000000;
  position: absolute;
  border-radius: 50%;
  // z-index: -1;
  display: flex;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;

  @media (max-width: 768px) {
    width: 60px;
    height: 60px;
  }
}

.containerAvatarConnect {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &False {
    &::before {
      @include before-Avatar;
      box-shadow: 0px 0px 20px rgba(255, 31, 31, 0.4);
    }
  }

  &True {
    width: 100%;
    &::before {
      transition: 0.2s;

      @include before-Avatar;
      box-shadow: 0px 0px 20px #1fcbff66;
    }
  }

  &TrueGreen {
    &::before {
      @include before-Avatar;
      box-shadow: 0px 0px 20px #36d6ae;
    }
  }
}

@media (max-width: 768px) {
  .containerAvatarConnect {
    width: 60px;
    height: 60px;
  }
}

.containerSwichNetworkList {
  display: flex;
  flex-direction: column;
  background: #0000008c;
      // background: #0000008c;
  padding-left: 15px;
  width: 250px;
  padding-bottom: 15px;
  opacity: 0;
  transition: 0.2s;
  backdrop-filter: blur(7px);

  &entering {
    opacity: 0;
  }

  &entered {
    opacity: 1;
  }

  &exiting {
    opacity: 0;
    transition: 0.1s;
  }

  &exited {
    opacity: 0;
    visibility: hidden;
    height: 1px;
  }
}

.containerSwichAccountList {
  display: flex;
  flex-direction: column;
  background: #0000008c;
  // padding-right: 15px;
  width: 300px;
  padding-bottom: 15px;
  opacity: 0;
  transition: 0.2s;
  backdrop-filter: blur(7px);


  &entering {
    opacity: 0;
  }

  &entered {
    opacity: 1;
  }

  &exiting {
    opacity: 0;
    transition: 0.1s;
  }

  &exited {
    opacity: 0;
    visibility: hidden;
    height: 1px;
  }
}

.containerKrmaName {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  height: 100%;
  justify-content: space-between;
  padding: 27px 0;
}

.containerSwichAccountList .containerKrmaName {
  gap: 6px;
  padding: 29px 0;
}

.containerKarma {
  color: #fff;
  font-size: 16px;
  // padding-top: 12px;
  transition: 0.4s;
}

.containerAvatarConnectHoverAbsolute {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  transition: 0.2s;
}
