.networkBtn {
  border: none;
  background: transparent;
  position: relative;
  cursor: pointer;

  &::before {
    content: '';
    width: 100px;
    height: 100px;
    background: #000000;
    box-shadow: 0px 0px 20px rgba(31, 203, 255, 0.4);
    position: absolute;
    border-radius: 50%;
    // z-index: -1;
    display: flex;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
  }
}

.networkBtnImgIconMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.2s;
  transform: translate(-50%, -50%) rotate(90deg);

  &Close {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }
}

.btnContainerText {
  border: none;
  background: transparent;
  color: rgb(31, 203, 255);
  cursor: pointer;
}

.containerBtnItemSelect {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 25px;
  align-items: center;
  height: 100px;
  border: none;
  background: transparent;
  color: rgb(31, 203, 255);
  margin-top: -10px;
  cursor: pointer;

  &:hover {
    .networkBtn {
      &::before {
        width: 105px;
        height: 105px;
      }
    }

    .containerBtnItemSelectText {
      font-size: 17px;
    }
  }
}

.btnContainerTextHover {
  display: flex;
  justify-content: flex-end;
  font-size: 16px;

}

.containerSwichAccountHover {
  &:hover {
    .containerAvatarConnectHover {
      width: 105px;
      height: 105px;
    }
    .btnContainerTextHover {
      font-size: 17px;
    }
  }
}

.tooltipContainer {
  position: absolute;
  left: 0px !important;
  top: unset !important;
  z-index: 3;
}

.tooltipContainerRight {
  position: absolute;
  right: -5px !important;
  top: unset !important;
  left: unset !important;
  z-index: 3;
}

.sideBar {
  position: fixed;
  top: 120px;
  left: 0;
  bottom: 0;
  width: 250px;
  background: #000000;
  color: #fff;
  transition: 0.3s;
  z-index: 3;
  opacity: 0.9;
  box-shadow: 1px 0 20px 2px #000;
}

.sideBarHide {
  left: -250px;
}

.closeButton {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 24px;
  height: 24px;
  font-size: 0;
  border: none;
  background: url(./close.svg);
  cursor: pointer;
}

.containerSwichAccount {
  display: grid;
  grid-template-columns: 1fr 100px;
  gap: 25px;
  align-items: center;
  height: 100px;
}

@mixin before-Avatar {
  content: '';
  width: 100px;
  height: 100px;
  background: #000000;
  position: absolute;
  border-radius: 50%;
  // z-index: -1;
  display: flex;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.containerAvatarConnect {
  width: 100px;
  height: 100px;
  position: relative;
  cursor: pointer;

  &False {
    &::before {
      @include before-Avatar;
      box-shadow: 0px 0px 20px rgba(255, 31, 31, 0.4);
    }
  }

  &True {
    &::before {
      @include before-Avatar;
      box-shadow: 0px 0px 20px #1fcbff66;
    }
  }

  &TrueGreen {
    &::before {
      @include before-Avatar;
      box-shadow: 0px 0px 20px #36d6ae;
    }
  }
}

.containerSwichNetworkList {
  display: flex;
  flex-direction: column;
  background: #00000075;
  padding-left: 15px;
  width: 250px;
  padding-bottom: 15px;
  opacity: 0;
  transition: 0.1s;

  &entering {
    opacity: 0;
  }

  &entered {
    opacity: 1;
  }

  &exiting {
    opacity: 0;
    transition: 0.1s;
  }

  &exited {
    opacity: 0;
    visibility: hidden;
    height: 1px;
  }
}

.containerSwichAccountList {
  display: flex;
  flex-direction: column;
  background: #00000075;
  // padding-right: 15px;
  width: 300px;
  padding-bottom: 15px;
  opacity: 0;
  transition: 0.1s;

  &entering {
    opacity: 0;
  }

  &entered {
    opacity: 1;
  }

  &exiting {
    opacity: 0;
    transition: 0.1s;
  }

  &exited {
    opacity: 0;
    visibility: hidden;
  }
}
