.wrapper {
  width: 59%;
  max-width: 1000px;
  margin: 10px auto 20px;
  padding: 10px 50px 0px 50px;
  box-sizing: content-box;
}

.content {
  text-align: center;
  gap: 20px;
  display: grid;
  color: #fff;

  p {
    font-size: 28px;
  }
}
