@import '../../../layouts/variables.module.scss';

.wrapper {
  display: flex;
  align-content: stretch;

  height: 100%;
  max-height: calc(
    100vh - $reservedTopHeight - $actionBarHeight
  );

  &.NotOwner {
    max-height: calc(
      100vh - $reservedTopHeight - $actionBarHeight - $robotHeaderHeightNotOwner
    );
  }

  // Display
  > div > div {
    height: 100%;
  }

  > :first-child {
    > div {
      // don't understand this scroll
      overflow-x: hidden;
    }
  }

  > :nth-child(2) {
    flex: 1;
    position: relative;
    left: -2px;
  }
}
