.container {
  width: 250px;
  height: 250px;
  box-shadow: 0 0 10px 2px #03cba0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10%;

  .oval1 {
    width: 73px;
    height: 37px;
    transform: rotate(25deg);
    box-shadow: 0 0 6px 2px #03cba0;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  .oval2 {
    width: 73px;
    height: 37px;
    transform: rotate(-25deg);
    box-shadow: 0 0 6px 2px #03cba0;
    border-radius: 50%;
    margin-bottom: 20px;
  }
}