html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Play';
}

@font-face {
  font-family: 'Play';
  src: url('../../fonts/Play-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

#bootloader-container {
  background: #000;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  visibility: unset !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

img.logo-container {
  width: 180px;
  height: 90px;
  content: url('../../image/robot.svg');
  margin-bottom: 20px;
}

#progress-data {
  margin-top: 30px;
  color: #ffffff;
  font-size: 14pt;
  text-align: center;
}

#progress-data .span {
  letter-spacing: 0.2em;
  font-size: 20pt;
}

progress {
  width: 42rem;
  height: 2px;
  margin: 0;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.15);
}

progress[value] {
  appearance: none;
}

/* don't combine webkit and moz in 1 block, will not work */
progress[value]::-webkit-progress-value {
  box-shadow: 0 0 10px 2px #36d6ae;
  background-color: white;
}

progress[value]::-moz-progress-bar {
  box-shadow: 0 0 10px 2px #36d6ae; /* seems not working */
  background-color: #36d6ae;
}
