html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Play';
}

@font-face {
  font-family: 'Play';
  src: url('../../fonts/Play-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

#bootloader-container {
  background: #000;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  visibility: unset !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

img.logo-container {
  width: 180px;
  height: 90px;
  content: url('../../image/robot.svg');
}

#progress-data {
  color: #ffffff;
  font-size: 14pt;
  text-align: center;
}

#progress-data .span {
  letter-spacing: 0.2em;
  font-size: 20pt;
}

progress {
  width: 42rem;
  height: 3px;
  margin: 0;
  border: 1px solid rgba(159, 162, 185, 0.5);
  border-radius: 3px;
  background: #9c9eb1;
  box-sizing: border-box;
}

progress[value]::-webkit-progress-bar {
  background-color: #9c9eb1;
}

progress[value]::-webkit-progress-value {
  box-shadow: 0 0 10px 2px #f78160;
  background: linear-gradient(to left, #f1846a 0%, #fac1b2 50%, #f48163 100%);
  transition: width 0.45s ease;
}

progress[value]::-moz-progress-bar {
  box-shadow: 0 0 10px 2px #f78160;
  background: linear-gradient(to left, #f1846a 0%, #fac1b2 50%, #f48163 100%);
  transition: width 0.45s ease;
}
