@import '../../../../../style/mixins.scss';

.messages {
  height: 90%;
  overflow: auto;
  //   max-height: 50vh;
  display: flex;
  flex-direction: column-reverse;

  // padding-right: 10px;
  padding-bottom: 10px;
  //   margin-top: auto;
  //   overflow-y: auto;

  @include blueScroll;

  p {
    word-break: break-word;
  }
}

.inner {
  display: flex;
  flex-direction: column-reverse;
  gap: 5px 0;
}

.date {
  text-align: center;
  color: var(--primary-color);
  align-self: center;
  padding: 10px;
  border-radius: 20px;
  margin: 30px 0;
  box-shadow: 0 0 10px #085c36, 0 0 5px #085c36;
}
