@import '../../../../../style/mixins.scss';

.wrapper {
  overflow: hidden;
  height: 100%;
  max-height: 100%;
}

.messages {
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 10px;

  height: 100%;

  @include blueScroll;

  p {
    word-break: break-word;
  }
}

.inner {
  display: flex;
  flex-direction: column-reverse;
  gap: 5px 0;
}

.date {
  text-align: center;
  color: var(--primary-color);
  align-self: center;
  padding: 10px;
  border-radius: 20px;
  margin: 30px 0;
  box-shadow: 0 0 10px #085c36, 0 0 5px #085c36;
}
