
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: #000000;
    color: #fff;
}
html {
    overflow-x: hidden;
    font-family: Play;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
button:disabled {
    color: darkgray;
}

a {
    color: #36d6ae;
    text-decoration: none;
}


.block-body {
    width: inherit;
    min-height: 100vh;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* background: url("https://ipfs.io/ipfs/QmV2i3zrWF2ZzmKtzMFMFqyrAjadShFn5qwmU3ANv66BUY"); */
    background-position: top left !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    padding: 65px 1em 85px 1em;
    position: relative;
    background-color: #000000;
}



.container-timer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.timer {
    font-size: 25px;
    color: #36d6ae;
    margin: 0 5px;
}

.container-btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.countdown-time{
    font-size: 38px;
    font-weight: 650;
    margin: 0 10px;
}

.text-glich{
    position: relative;
    z-index: 0;
}

.text-glich::before, .text-glich::after {
    content: attr(data-text);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.text-glich::before {
    color: #ff00c1;
    animation: glitc-effect 3s infinite;
}

.text-glich::after {
    color: #3498db;
    animation: glitc-effect 2s infinite;
}

@keyframes glitc-effect {
    0%{
        left: -2px;
        top: -2px;
    }
    25%{
        left: 2px;
        top: 0px;
    }
    50%{
        left: -1px;
        top: 2px;
    }
    75%{
        left: 1px;
        top: -1px;
    }
    100%{
        left: 0px;
        top: 2px;
    }
}

.no-margin{
    margin: 0;
}

input {
    font-size: 16px;
    height: 30px;
    background-color: #000;
    border: none;
    outline: none;
    caret-color: #3ab793;
    color: #3ab793;
    box-shadow: 0 0 2px 0.3px #3ab793;
    padding: 0 5px;
    border-radius: 3px;
}

input:focus{
    outline: none;
}

input:active{
    outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #3ab793;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #3ab793;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #3ab793;
  }

  .trigger{
      width: 100%;
  }

  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #272728;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #525254;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #5c5c5c;
  }