.loader {
    display: inline-block;
}

.loader span {
    color: #90d371;
    font-size: 30px;
    animation: blink 1.4s infinite;
    border-radius: 50%;
    animation-fill-mode: both;
}

.loader span:nth-child(2) {
    animation-delay: 0.2s;
}

.loader span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes blink {
    0% {
        opacity: 0.2;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}

.container-statistics {
    display: flex;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    width: 100%;
    margin-bottom: 50px;
}

.container-statistics-3 {
    display: flex;
    color: #fff;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 50px;
}

.contaiter-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-card-arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    width: 100%;
    max-width: 150px;
    box-shadow: 0 0 5px #3ab793;
    border-radius: 10px;
    margin: 0 5px;
    justify-content: center;
    padding: 5px 10px;
    min-height: 150px;
}

.card-arrow {
    position: relative;
    width: 40px;
    height: 2px;
    background-color: #36d6ae;
    margin: 10px 0;
}

.card-arrow::before {
    content: " ";
    height: 2px;
    width: 18px;
    background-color: #36d6ae;
    position: absolute;
    transform: rotate(-21deg);
    top: -3px;
    left: 0;
}

.card-arrow::after {
    content: " ";
    height: 2px;
    width: 18px;
    background-color: #36d6ae;
    position: absolute;
    transform: rotate(21deg);
    top: 3px;
    left: 0;
}

.card-arrow-transfonm-eth {
    transform: rotate(0deg);
}

.card-arrow-transfonm-atom {
    transform: rotate(-180deg);
}

.container-card-arrow .card-title {
    /* display: inline-block; */
    /* margin-bottom: 15px; */
    color: #3ab793;
    font-size: 30px;
    line-height: 20px;
    width: 90%;
}

.card-title.eth {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}

.card-title.atom {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.container-card-arrow .card-value {
    display: inline-block;
    color: #3ab793;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}

.container-card {
    display: flex;
    flex-direction: column;
    padding: 45px 0;
    align-items: center;
    background-color: #000000;
    width: 100%;
    /* max-width: 150px; */
    box-shadow: 0 0 5px #3ab793;
    border-radius: 10px;
    margin: 0 5px;
}

.container-card:hover {
    box-shadow: 0 0 15px #3ab793;
}

.container-card .card-title {
    display: inline-block;
    margin-bottom: 15px;
    color: #3ab793;
    font-size: 18px;
    line-height: 20px;
    white-space: nowrap;
}

.container-card .card-value {
    display: flex;
    white-space: nowrap;
    color: #3ab793;
    font-size: 16px;
    line-height: 20px;
}

.caption {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;
}

/* .chapter {
    display: inline-block;
    width: 100%;
    font-size: 25px;
    text-align: center;
} */

.paragraph {
    /* display: inline-block; */
    /* width: 100%; */
    margin-bottom: 10px;
    font-size: 20px;
}

/* .container-action {
    width: 100%;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    background-color: #000;
} */
/* 
.container-action-content {
    width: initial;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
} */
/* 
.btn {
    padding: 0 50px;
    height: 42px;
    white-space: nowrap;
    background-color: #000;
    color: #36d6ae;
    box-shadow: 0 0 10px 0px #38d6ae;
    text-shadow: 0 0 25px #36d6ae;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-family: Play;
}

.btn:hover {
    box-shadow: 0 0 15px 0px #38d6ae;
}

.btn:active {
    background-color: #36d6ae;
    color: #fff;
    border: none;
    outline: none;
}

.btn:focus {
    border: none;
    outline: none;
} */

.action-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin-right: 15px;
}

.boxWrap {
    position: relative;
    /* top: 47%; */
    width: 100%;
    max-width: 1000px;
    margin-bottom: 20px;
}
/*  */
.wrapper {
    transform: rotate(0);
}

.wrapper-eth-win {
    transform: rotate(-10deg);
}

.wrapper-atom-win {
    transform: rotate(10deg);
}

.bar {
    position: relative;
    width: 70%;
    min-width: 300px;
    /* max-width: 600px; */
    height: 8px;
    background: #3a9880;
    margin: 0 auto;
}

.bar .box1 {
    position: absolute;
    width: 60px;
    height: 60px;
    content: url("./../image/Ethereum_logo_2014.svg");
    left: 0px;
    bottom: 17px;
}
.bar .box2 {
    position: absolute;
    width: 60px;
    height: 60px;
    content: url("./../image/cosmos-2.svg");
    right: 0px;
    bottom: 17px;
}

.seesaw-bottom {
    display: block;
    position: relative;
    width: 68px;
    height: 70px;
    left: 50%;
    transform-origin: bottom center;
}
.seesaw-bottom:after {
    content: url("./../image/Bitcoin.svg");
    position: absolute;
    bottom: 0;
    left: -40%;
}

.container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 1000px;
    height: 44%;
    margin-bottom: 10px;
}

.container .vitalik {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container .vitalik::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #000000e6 4%,#000000e0 11%, #000000c4 15%,#0000001f 23%);
}

.container .vitalik img {
    width: 100%;
}

.win-opacity::after {
    content: '';
    background: transparent !important;
}
/*  */

.container .jae {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container .jae::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #000000e6 4%,#000000e0 11%, #000000c4 15%,#0000001f 23%);
}

.container .jae img {
    width: 100%;
}

.crown {
    position: absolute;
    top: 15%;
    left: 46%;
    transform: translate(-46%, -50%);
    width: 10rem;
    height: calc(10rem / 1.1);
    overflow: hidden;
    content: url("./../image/303278.svg");
    z-index: 1;
}

.crown-jae {
    top: 10%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 10rem;
    height: calc(10rem / 1.1);
    overflow: hidden;
    content: url("./../image/303278.svg");
    z-index: 1;
}

.container-card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container-card-statistics {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
}

.container-text {
    display: flex;
    flex-direction: column;
}

.difference-container {
    width: 100%;
    height: 100px;
    box-shadow: 0 0 5px #36d6ae;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: blink 0.61s cubic-bezier(0, 1.07, 0.75, 0.01) infinite;
    padding: 10px 20px;
}

@-webkit-keyframes blink {
    40% {
        box-shadow: 0 0 5px #36d6ae;
    }
    50% {
        box-shadow: 0 0 7px #36d6ae;
    }
    100% {
        box-shadow: 0 0 8px #36d6ae;
    }
}
@keyframes blink {
    40% {
        box-shadow: 0 0 5px #36d6ae;
    }
    50% {
        box-shadow: 0 0 7px #36d6ae;
    }
    100% {
        box-shadow: 0 0 8px #36d6ae;
    }
}

.difference-container-value {
    font-weight: 700;
    color: #38d6ae;
    font-size: 25px;
    letter-spacing: 1.2px;
}

.difference-container-text {
    color: #fff;
    font-size: 18px;
}

.wrapper-speedometer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 2;
    transform: translate(-50%);
    height: 70%;
}

.speedometer {
    width: 300px;
    height: 150px;
    background-color: #000;
    border-radius: 200px 200px 0 0;
    position: relative;
    box-shadow: 0 -3px 8px 0px #03cba0c9;
}

.pointer {
    position: absolute;
    bottom: 11px;
    left: 50%;
    width: 0;
    height: 0;
}
.pointer:after {
    content: "";
    display: block;
    width: 100px;
    height: 50px;
    border-radius: 50px 50px 0 0;
    background: #000;
    position: absolute;
    bottom: -11px;
    left: -50px;
    box-shadow: 0px -2px 4px #3ab793a6;
}

.pointer::before {
    content: "";
    display: block;
    width: 100px;
    height: 50px;
    border-radius: 50px 50px 0 0;
    background: #000;
    position: absolute;
    bottom: -17px;
    left: -50px;
    z-index: 1;
}

.arow {
    content: "";
    display: block;
    position: absolute;
    left: -5px;
    bottom: 0px;
    width: 3px;
    height: 130px;
    background-color: #25c7a4;
    transform-origin: center 130px;
    animation: arow 1s ease-in-out infinite;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
}

.arow::after{
    content: '';
    background-color: #000;
    position: absolute;
    width: 5px;
    height: 63px;
    bottom: 0px;
    left: -1px;
}

@-webkit-keyframes arow {
    25% {
        background-color: #42b498;
    }
    50% {
        background-color: #74ead0;
    }
    100% {
        background-color: #16dfb5;
    }
}
@keyframes arow {
    25% {
        background-color: #42b498;
    }
    50% {
        background-color: #74ead0;
    }
    100% {
        background-color: #16dfb5;
    }
}

/* .arow::after{
    content: '';
    position: absolute;
    left: -6px;
    top: -12px;
    border: 8px solid transparent;
    border-bottom: 20px solid #25c7a4;
    animation: arowAfter 1s ease-in-out infinite;
} */

@-webkit-keyframes arowAfter {
    25% {
        border-bottom: 20px solid #42b498;
    }
    50% {
        border-bottom: 20px solid #74ead0;
    }
    100% {
        border-bottom: 20px solid #16dfb5;
    }
}
@keyframes arowAfter {
    25% {
        border-bottom: 20px solid #42b498;
    }
    50% {
        border-bottom: 20px solid #74ead0;
    }
    100% {
        border-bottom: 20px solid #16dfb5;
    }
}

.vitalik-popups {
    position: absolute;
    right: 3%;
    top: 2%;
    box-shadow: 0 0 4px #3ab793;
    padding: 10px;
    border-radius: 3px;
    min-width: 80px;
    text-align: center;
    max-width: 130px;
    background: #000;
    border-radius: 5px;
}

.vitalik-popups span {
    z-index: 1;
    color: #fff;
    position: relative;
}

.vitalik-popups::before {
    width: 35px;
    height: 50%;
    max-height: 20px;
    transform: skew(-60deg);
    box-shadow: -2px 1px 2px 0px #3ab793d9;
    background: #000;
    left: -3.8%;
    bottom: 0.5px;
    position: absolute;
    content: '';
}

.vitalik-popups::after {
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    border-radius: 5px;
}



.jae-popups {
    position: absolute;
    left: 3%;
    top: 10%;
    box-shadow: 0 0 4px #3ab793;
    padding: 10px;
    border-radius: 3px;
    min-width: 80px;
    text-align: center;
    max-width: 130px;
    background: #000;
    border-radius: 5px;
}

.jae-popups span {
    z-index: 1;
    color: #fff;
    position: relative;
}

.jae-popups::before{
    width: 35px;
    height: 50%;
    max-height: 20px;
    transform: skew(60deg);
    box-shadow: 1px 1px 1px #3ab793c9;
    background: #000;
    right: -3.8%;
    bottom: 0.5px;
    position: absolute;
    content: '';
}

.jae-popups::after{
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    border-radius: 5px;

}

.atomCol {
    width: 40px;
    height: 0px;
    margin: 0 10px;
    background-color: #3ab793;
    opacity: 0.8;
    transition: height 0.5s ease-in;
}

.ethCol {
    width: 40px;
    height: 0px;
    margin: 0 10px;
    background-color: #3ab793;
    opacity: 0.8;
    transition: height 0.5s ease-in;
}