@font-face {
    font-family: "Play", sans-serif;
    src: url("../fonts/Play-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}


@import'./global.css';

@import './funding.css';
@import './container-distribution.css';
@import './auction.css';
@import './got.css';

@import './loading.css';
@import './notFound.css';
@import './popups.css';

