$animation-time: 2.3s;

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-width: 400px;
  font-size: 16px;
  color: white;
  overflow: hidden;
  position: relative;
  min-height: 26px;

  --color-r: 0;
  --color-b: 0;
  --color-g: 0;

  &.color_ {
    &blue {
      --color-r: 31;
      --color-b: 203;
      --color-g: 225;
    }

    &red {
      --color-r: 255;
      --color-b: 92;
      --color-g: 0;
    }
    &green {
      --color-r: 122;
      --color-b: 250;
      --color-g: 161;
    }

    &purple {
      --color-r: 246;
      --color-b: 43;
      --color-g: 253;
    }

    &yellow {
      --color-r: 255;
      --color-g: 0;
      --color-b: 217;
    }
  }

  &:disabled {
    cursor: unset;

    &::before {
      filter: blur(15px);
    }

    --color-r: 255;
    --color-b: 255;
    --color-g: 255;
  }

  // background
  &::before {
    content: '';

    position: absolute;
    left: 0;
    filter: blur(10px);
    z-index: -1;

    width: 100%;
    height: 100%;

    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(var(--color-r), var(--color-b), var(--color-g), 0.13) 40%,
      rgba(var(--color-r), var(--color-b), var(--color-g), 0.13) 60%,
      rgba(0, 0, 0, 0) 100%
    );

    @keyframes pulseBg {
      0% {
        transform: scale(0.5, 0.8);
        opacity: 0.7;
        filter: blur(7px);
      }
    }
    animation: pulseBg $animation-time infinite alternate;
  }

  &.open,
  &:disabled {
    &::before,
    .summary {
      animation-name: none;
    }
  }

  &,
  .summary,
  .content {
    transition: all 0.7s;
  }

  @media (max-width: 480px) {
    min-width: unset;
  }
}

.summary {
  width: 360px;
  list-style: none;
  font-size: 0;
  height: 28px;
  margin: auto;
  position: relative;
  transition: all 1s;

  @keyframes pulse {
    0% {
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
      opacity: 0.2;
    }
    100% {
      box-shadow: 0px 0px 10px 2px
        rgb(var(--color-r), var(--color-b), var(--color-g));
    }
  }

  // dot
  &::before {
    content: '';
    $size: 4px;
    background-color: #fff;

    border-radius: 50%;
    transition: all 1s;
    opacity: 1;

    animation: pulse $animation-time infinite alternate;

    width: $size;
    height: $size;

    position: absolute;
    top: calc(50% - $size / 2);
    left: calc(50% - $size / 2);
  }

  .open & {
    height: 0;

    &::before {
      height: 0;
      width: 0;
      opacity: 0;
    }
  }

  .wrapper:disabled & {
    &::before {
      animation: none;
      opacity: 0.35;
      // background-color: rgba(#fff, 0.5);
    }
  }
}

.content {
  text-align: center;
  text-shadow: 0px 0px 5px
    rgba(var(--color-r), var(--color-b), var(--color-g), 0.7);
  line-height: 26px;
  overflow: hidden;
  height: 0;
  min-height: 0;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .open & {
    padding: 5px 0;
    min-height: 62px;
    height: auto;
    opacity: 1;
  }
}

.typer {
  &::before {
    position: absolute;
  }
}
