// @import '../../style/mixins.scss';

.wrapper {
  display: flex;
  flex-direction: column;
}

.logArea {
  padding: 10px;
  box-shadow: none;
  border-radius: 0;
  font-family: monospace !important;
  resize: vertical;
}

.header {
  padding-bottom: 5px;
  margin: 10px 0;
  width: 100%;
  border-bottom: solid rgb(54, 214, 174) 1px;
}
