$color-text: #777777;

@mixin img-size {
  width: 20px;
  height: 20px;
}

.containerTitle {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: $color-text;
}

.containerSwapImg {
  display: flex;
  gap: 5px;

  img {
   @include img-size;
  }
}

.containerPrice {
  display: flex;
  align-items: center;

  img {
    @include img-size;
    margin: 0 -2px;
  }
}

.containerContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: self-end;
}

.containerAmountCoins {
  display: grid;
  gap: 10px;
}

.containerTime {
  display: flex;
  width: 100%;
  justify-content: flex-start;

  div {
    color: $color-text;
    padding-right: 5px;
  }
}