.textbox {
  width: 100%;
  height: 42px;
  position: relative;
  transform-style: preserve-3d;
  background-color: transparent;
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;

  input,
  textarea {
    width: 90%;
    margin: auto;
    height: 100%;
    border: none;
    padding: 0 2px;
    background-color: transparent;
    font-size: 1.25rem;
    display: block;
    color: var(--primary-color);
    text-align: end;
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.5));
    text-transform: initial;

    &::placeholder {
      color: #272343;
      opacity: 0.5;
      text-transform: lowercase;
    }

    &:disabled {
      font-size: 14px; // need update root style
      color: #e4e4e4;
      opacity: 0.5;
    }

    &:focus {
      outline: none;
    }
  }
}

.textarea {
  height: unset;

  textarea {
    position: relative;
    top: -5px;
    color: white;
    resize: none;
    box-shadow: unset;
    text-align: left;
    overflow-y: hidden;
    min-height: unset;
  }
}

.error {
  color: red;
}

.amount {
  position: absolute;
  right: 10px;
  top: -15px;

  display: flex;
  gap: 0 10px;

  button {
    color: var(--blue-light);

    &:not(:last-of-type) {
      opacity: 0.5;
    }

    &:hover {
      opacity: 1;
    }
  }
}
