
.textbox {
  width: 100%;
  height: 42px;
  position: relative;
  transform-style: preserve-3d;
  background-color: transparent;
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;

  input {
    width: 90%;
    margin: auto;
    height: 100%;
    border: none;
    padding: 0 2px;
    background-color: transparent;
    font-size: 1.25rem;
    display: block;
    color: var(--primary-color);
    text-align: end;
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.5));

    &::placeholder {
      color: #272343;
      opacity: 0.5;
    }

    &:focus {
      outline: none;
    }
  }

}

