.networkBtnImgIconMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.2s;
  transform: translate(-50%, -50%) rotate(-90deg);

  &Close {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  div {
    width: 15px;
    height: 2px;
    background-color: black;
    margin: 2px 0;
  }
}