.container {
  display: grid;
  grid-template-columns: 240px 1fr;
  align-items: baseline;
  line-height: 20px;
  font-size: 16px;

  .value {
    text-transform: none !important;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
}



.rowsContainer {
  display: grid;
  gap: 10px;
}