.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.statusMessage {
  display: flex;
  align-items: center;
  color: magenta;
  &::before {
    content: '⚡️';
  }
}

.errorMessage {
  color: red;
  font-family: monospace;
  font-size: 1.2em;
}

.commandPanel {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.subPanel {
  display: flex;
  align-items: center;
  & > button {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}
