.containerRoweDenom {
  display: flex;
  flex-direction: row;

  &Reverse {
    flex-direction: row-reverse;
  }
}

.containerSwapItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.denomsImgImg {
  width: 25px;
}