@mixin linear-gradient-blue($route) {
  background: linear-gradient(
    $route,
    rgba(0, 196, 255, 0) 0%,
    rgba(0, 196, 255, 1) 100%
  );
}

@mixin ion-lamp {
  content: '';
  position: absolute;
  // background: #ffffff;
  // border: 1px solid #ffffff;
  box-sizing: border-box;
  // box-shadow: 0px 0px 6px 2px rgba(255, 255, 255, 0.3);
  // box-shadow: -3px 0 20px 1.5px rgba(31, 203, 255, 0.7);
  top: 0;
  bottom: 0;
}

@mixin styleGradientPseudoEl {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
}

.containerInfoCard {
  width: 100%;
  padding: 15px;
  z-index: 1;
  position: relative;
  line-height: 20px;
  min-height: 70px;
}

.containerLampAfter {
  position: relative;

  &Default {
    &::after {
      @include ion-lamp;
      border-radius: 0px 2px 2px 0px;
      // box-shadow: 3px 0 20px 1.5px rgba(31, 203, 255, 0.7);
      background: linear-gradient(
        180deg,
        #00c4ff 0%,
        #00c4ff 19.27%,
        #00c4ff 47.4%,
        #00c4ff 100%
      );
      box-shadow: 0px 0px 6px 1px rgba(0, 196, 255, 0.4);
      border: 1px solid #00c4ff;
      right: 0;
    }
  }
}

.containerGradienAfter {
  width: 100%;
  min-height: 50px;
  position: relative;
  padding: 0px;

  &Default {
    &::after {
      // opacity: 11%;
      border-radius: 0px 2px 2px 0px;
      @include styleGradientPseudoEl;
      @include linear-gradient-blue(90deg);
      opacity: 20%;
      right: 0;
    }
  }
}


.triangle {
    width: 150px;
    height: 150px;
	  border-left: 5px solid green;
	  position: relative;
	  margin: 50px;
		&::after,
		&::before{
			content: '';
			position: absolute;
			height: 5px;
			background: green;
      transform-origin: 0 0;
		}
		&::before{
		  top: 0;
      left: 0;
			right: 3px;
			transform: rotate(30deg);
		}
		&::after{
      bottom: 0;
			right: 7px;
      left: -2.5px;
			transform: rotate(-30deg);
		}
}