.containerDescription {
  p {
    margin-bottom: 15px;
    text-align: justify;
  }

  h3 {
    margin-bottom: 20px;
  }

  h1 {
    margin-bottom: 20px;
  }

  ul {
    margin-bottom: 15px;
    padding-left: 20px;
  }

  ol {
    margin-bottom: 15px;
    padding-left: 20px;
  }
}
