.search {
  width: 62%;
  margin: 10px auto;

  .infiniteScroll {
    margin-top: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;

    > * {
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    width: 90%;
  }
}

.actionBar {
  position: fixed;
  left: 0;
  z-index: 1;
}

.filters,
.meta {
  margin-top: 20px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
