@use "sass:math";
$number-of-options: 7;
$linear-gradient-mark: linear-gradient(181deg,
    rgba(196, 196, 196, 0) 0%,
    rgba(196, 196, 196, 0.8) 100%);
$col-width: math.div(100%, $number-of-options);

@mixin transform-mark-gradient($incline) {
  transform: rotateX(80deg) rotateZ(24deg * $incline) translateX(0px);
}

@mixin icon-token() {
  $size-token-obj: 25px;
  position: absolute;
  width: $size-token-obj;
  height: $size-token-obj;
  border-radius: 50%;
  background-color: transparent;
  // box-shadow: 0px 0px 2px 1px $color-box-shadow;
  box-shadow: 0px 0px 6px 1px rgba(255, 255, 255, 0.5);
  left: math.div($size-token-obj, 2) * -1;
  top: math.div($size-token-obj, 2) * -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formWrapper {
  margin-top: 20px;
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .debtAmountSlider {

    //display: flex;
    flex-direction: row;
    align-content: stretch;
    position: relative;
    width: 100%;
    height: 50px;
    user-select: none;

    input,
    label {
      box-sizing: border-box;
      flex: 1;
      user-select: none;
      cursor: pointer;
    }

    label {
      display: inline-block;
      position: relative;
      width: $col-width;
      height: 100%;
      user-select: none;

      &::after {
        content: ' ';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: transparent;
        filter: blur(2px);
        width: 7px;
        height: 7px;
        background: #fff;
        border-radius: 50%;
        pointer-events: none;
        user-select: none;
        z-index: 1;
        cursor: pointer;
        transition: all 0.15s ease-in-out;
      }
    }

    input {
      //display: none;
      position: absolute;
      height: 2px;
      background: #C5C5C5;
      margin-top: -4px;
      //top:-2%;
      appearance: none;
      z-index: 1;
      -webkit-appearance: none;



      &::-moz-range-thumb {
        width: 23px;
        height: 25px;
        border: 0;
        //background: red;
        //z-index: 200000;

        cursor: pointer;
        z-index: 1;
        //display: none
      }

      &::-webkit-slider-thumb {

        background: transparent;
        -webkit-appearance: none;
        appearance: none;
        //width: 23px;
        //height: 25px;
        width: 25px;
        height: 65px;
        z-index: 1;
        margin-top: 15px;



      }


    }

    .debtAmountPos {
      display: block;
      position: relative;
      transition: all 0.15s ease-in-out;
      transform: translate(-50%, -50%);
      opacity: 1;
      z-index: 1;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: radial-gradient(50% 50% at 50% 50%,
          #ffffff 0%,
          rgba(255, 255, 255, 0) 60.42%);
      box-shadow: 0px 0px 6px 1px rgba(255, 255, 255, 0.5);
    }

    .debtAmountPosToken {
      position: absolute;
      width: 100%;
      bottom: 50%;
      background-color: transparent;
      top: 50%;
      left: 0;
      transition: 1s;

      &Obj {
        @include icon-token();
        transition: 1s;
      }
    }

    .trackMark {
      display: inline-block;
      position: relative;
      width: 20%;
      height: 100%;
      user-select: none;
      cursor: pointer;

      &Gradient {
        content: '';
        background: $linear-gradient-mark;
        position: absolute;
        height: 70px;
        width: 3px;
        bottom: 0px;
        right: 50%;
        transform-origin: -50% 100%;

        &left {
          @include transform-mark-gradient(1);
        }

        &center {
          background: transparent;
        }

        &right {
          @include transform-mark-gradient(-1);
        }
      }

      &Label {
        position: absolute;
        font-size: 12px;
        line-height: 14px;
        color: #777777;
        width: 24px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, 6px);

        &ColorBlue {
          color: #1fcbff;
        }
      }
    }
  }
}

.buttonIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &:hover {
    opacity: 0.7;
  }

  img {
    width: 40px;
    height: 55px;
    object-fit: cover;
  }
}

.imgValue {
  position: absolute;
  left: 100%;
  white-space: nowrap;
  color: #777777;
  font-size: 12px;
  transform: translate(5px, 0px);
}