$number-of-options: 7;
$linear-gradient-mark: linear-gradient(
  181deg,
  rgba(196, 196, 196, 0) 0%,
  rgba(196, 196, 196, 0.8) 100%
);
$col-width: 100% / $number-of-options;

@mixin transform-mark-gradient($incline) {
  transform: rotateX(80deg) rotateZ(24deg * $incline) translateX(0px)
    translate(0px, -50%);
}

@mixin icon-token() {
  $size-token-obj: 25px;
  position: absolute;
  width: $size-token-obj;
  height: $size-token-obj;
  border-radius: 50%;
  background-color: transparent;
  // box-shadow: 0px 0px 2px 1px $color-box-shadow;
  box-shadow: 0px 0px 6px 1px rgba(255, 255, 255, 0.5);
  left: $size-token-obj / 2 * -1;
  top: $size-token-obj / 2 * -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formWrapper {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .debtAmountSlider {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    position: relative;
    width: 100%;
    height: 50px;
    user-select: none;
    &::before {
      content: ' ';
      position: absolute;
      height: 3px;
      width: 100%;
      // width: calc(100% * (#{$number-of-options - 1} / #{$number-of-options}));
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #ffffff;
      border: 1px solid rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
    }
    input,
    label {
      box-sizing: border-box;
      flex: 1;
      user-select: none;
      cursor: pointer;
    }
    label {
      display: inline-block;
      position: relative;
      width: $col-width;
      height: 100%;
      user-select: none;
      // &::before {
      // 	content: attr(data-debt-amount);
      // 	position: absolute;
      // 	left: 50%;
      // 	padding-top: 10px;
      // 	transform: translate(-50%, 45px);
      // 	font-size: 14px;
      // 	letter-spacing: 0.4px;
      // 	font-weight: 400;
      // 	white-space: nowrap;
      // 	opacity: 0.85;
      // 	transition: all 0.15s ease-in-out;
      // }
      &::after {
        content: ' ';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: transparent;
        filter: blur(2px);
        width: 7px;
        height: 7px;
        background: #fff;
        border-radius: 50%;
        pointer-events: none;
        user-select: none;
        z-index: 1;
        cursor: pointer;
        transition: all 0.15s ease-in-out;
      }
    }
    input {
      display: none;
      &:checked {
        @for $i from 1 through $number-of-options {
          &:nth-child(#{$i * 2 - 1}) ~ .debtAmountPos {
            left: #{($i * $col-width) - ($col-width / 2)};
          }
        }
      }
    }
    .debtAmountPos {
      display: block;
      position: absolute;
      left: #{(1 * $col-width) - ($col-width / 2)};
      top: 50%;
      transition: all 0.15s ease-in-out;
      transform: translate(-50%, -50%);
      opacity: 1;
      z-index: 1;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background: radial-gradient(
        50% 50% at 50% 50%,
        #ffffff 0%,
        rgba(255, 255, 255, 0) 60.42%
      );
      box-shadow: 0px 0px 6px 1px rgba(255, 255, 255, 0.5);
    }

    .debtAmountPosToken {
      position: absolute;
      width: 100%;
      bottom: 50%;
      background-color: transparent;
      top: 50%;
      left: 0;
      &A {
        // box-shadow: 0px 0px 2px 1px #f00;
        // transform: rotate(26deg);
        transition: 1s;
      }

      &B {
        // box-shadow: 0px 0px 2px 1px #00d9ff;
        // transform: rotate(-26deg);
        transition: 1s;
      }

      &ObjA {
        @include icon-token();
        transition: 1s;
      }
      &ObjB {
        @include icon-token();
        transition: 1s;
      }
    }

    .trackMark {
      display: inline-block;
      position: relative;
      width: 20%;
      height: 100%;
      user-select: none;
      cursor: pointer;

      &Gradient {
        content: '';
        background: $linear-gradient-mark;
        position: absolute;
        height: 70px;
        width: 3px;
        left: 50%;
        top: -11px;

        &left {
          @include transform-mark-gradient(1);
        }
        &center {
          background: transparent;
        }
        &right {
          @include transform-mark-gradient(-1);
        }
      }
      &Label {
        position: absolute;
        font-size: 12px;
        line-height: 14px;
        color: #777777;
        width: 24px;
        bottom: 6px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, 0px);

        &ColorBlue {
          color: #1fcbff;
        }
      }
    }
  }
}

.buttonIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &:hover {
    opacity: 0.7;
  }

  img {
    width: 40px;
    height: 55px;
    object-fit: contain;
  }
}
