{
  "presets": [
    ["@babel/preset-env", {
      "shippedProposals": true,
      "useBuiltIns": "usage",
      "targets": {
        "browsers": [
          "last 2 versions"
        ]
      }
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties"
  ]
}