# Logs
logs
*.log
npm-debug.log*
coverage

# Dependency directories
node_modules
build

# Optional npm cache directory
.npm

# Prod Bundle
*.xml
*.iml

.idea
.vscode/*
!.vscode/settings.json

.circleci
.DS_Store

.yarn
.yarnrc
yarn-debug.log*
yarn-error.log*
src/.DS_Store

storybook-static

# Local Netlify folder
.netlify
