# Rust build artifacts
target/
shell/target/
apps/target/
apps/dist/

# Logs
logs
*.log
npm-debug.log*
coverage

# IDE
.idea
.vscode/

# OS
**/.DS_Store

# Netlify
.netlify

# Misc
*.xml
!shell/gen/android/**/*.xml
*.iml
storybook-static
