.containerListAndInput {
  position: relative;
  display: grid;
  grid-template-rows: 42px 1fr;
}

.containerList {
  display: grid;
  align-content: flex-start;
  position: absolute;
  height: 250px;
  width: 100%;
  top: 100%;
  z-index: 2;
  padding: 18px;
  gap: 18px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.containerBtnValue {
  height: 42px;
  background: transparent;
  border: none;
  font-size: 1.25rem;
  text-align: left;
}

.containerOption {
  display: grid;
  align-content: flex-start;
  gap: 18px;
}


.containerButtonOption {
  color: #fff;
  display: flex;
  width: 100%;
}


.containerOptionItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &:hover {
    .containerNickName {
      color: var(--blue-light);
    }
  }
}

.containerButtonText {
  display: flex;
  justify-content: center;
  width: 100%;
}

.containerAvatarNickName {
  display: flex;
  align-items: center;
  gap: 15px;
}

.containerAvatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.containerOwner {
  color: #777777;
}

.containerNickName {
  font-size: 1rem;
}