.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;

  img {
    width: 350px;
  }

  h5 {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.78);

    text-shadow: 0px 0px 10px var(--blue-light);
  }
}
