@mixin box-shadow-green {
  box-shadow: #36d6ae 0px 0px 5px;
}

@mixin displayFlexGap {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}

@mixin border-card {
  box-shadow: #36d6ae 0px 0px 5px;
  border-radius: 5px;
  padding: 15px;
}

@mixin ItemInfoValue {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
}

@mixin input-style {
  height: 42px;
  border: none;
  background-color: transparent;
  @include box-shadow-green;
  color: #fff;
  font-size: 18px;
  text-align: end;
  caret-color: #fff;
  padding: 2px 15px;
  border-radius: 5px;
}
