@mixin displayFlexGap {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}

@mixin border-card {
  box-shadow: #36d6ae 0px 0px 5px;
  border-radius: 5px;
  padding: 15px;
}

@mixin ItemInfoValue {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
}
