@import '../../globalStyle.scss';


.containetCodesCard {
  @include border-card;
  display: grid;
  grid-template-columns: 80px 1fr;

  &:hover {
    box-shadow: #36d6ae 0px 0px 7px;
  }

  &Id {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #fff;
  }

  &Fills {
    &Item {
      display: grid;
      grid-template-columns: 90px 1fr;

      &Title {
        color: #fff;
        margin-right: 5px;
      }

      &Value {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #fff;
      }
    }
  }
}
