.verses {
  > div > div {
    padding-bottom: 0;
  }
}

.info {
  color: #a0a0a0;
}

.settings {
  display: flex;
  align-items: center;
  gap: 30px;
}

.bgWrapper {
  position: relative;
  &:nth-of-type(1) {
    background-image: url('./images/1.jpg');
  }
  &:nth-of-type(2) {
    background-image: url('./images/3.jpg');
  }
  &:nth-of-type(3) {
    background-image: url('./images/2.jpg');
  }

  > div {
    height: 100%;
  }
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.actions {
  justify-content: space-between;
  align-items: stretch;
  display: flex;
  gap: 0 15px;

  .actionTitle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      font-size: 30px;
      font-weight: 400;
    }
  }

  .actionText {
    color: #a0a0a0;
    margin-bottom: 20px;
  }

  .apr {
    font-size: 14px;

    color: #a0a0a0;

    span {
      font-size: 20px;
      display: block;
      color: var(--green-light);
    }
  }

  .links {
    display: flex;
    gap: 15px;
    flex-direction: column;
  }

  > div {
    flex: 1;
  }
}

.delegatorsBtn {
  font-size: 16px;
  margin: 0;
  text-align: left;
  cursor: not-allowed;
}
