.info {
  color: #a0a0a0;
}

.settings {
  display: flex;
  align-items: center;
  gap: 30px;
}

.bgWrapper {
  // background-image: url('./images/1.jpg');
  // background-repeat: no-repeat;
  // background-size: cover;
}

.actions {
  justify-content: space-between;
  display: flex;
  gap: 0 15px;

  .actionTitle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      font-size: 30px;
      font-weight: 400;
    }
  }

  .actionText {
    color: #a0a0a0;
    margin-bottom: 20px;
  }

  .apr {
    font-size: 14px;

    color: #a0a0a0;

    span {
      font-size: 20px;
      display: block;
      color: var(--green-light);
    }
  }

  .links {
    display: flex;
    gap: 15px;
    flex-direction: column;
  }

  > div {
    flex: 1;
  }
}
