.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 82%;

  gap: 10px;

  align-self: flex-end;
}

.content {
  word-break: break-word;
  padding: 13px 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  font-size: 14px;
  min-height: 50px;
  min-width: 100px;

  color: white !important;
  position: relative;
  gap: 10px 0;
  cursor: pointer;

  
    &:hover {
     opacity: 0.9;
    }
}
