.tabs {
  width: clamp(300px, 100%, 380px);
  margin: 0 auto;
}

.containerRcSlider {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  padding: 0px 10px;
  height: 100%;
  width: 100%;
}

.containerControl {
  display: grid;
  grid-template-columns: 250px 1fr 250px;
  grid-template-rows: auto;
  align-items: center;
  margin: 64px 8px 0 8px;
  grid-gap: 16px;
  padding-bottom: 150px;
  position: relative;
}