.markdown {
  width: 60%;
  margin: 0 auto;
}

.markdown img {
  width: 100%;
}

.markdown pre {
  margin: 10px 0;
  background-color: #343a40;
  border-radius: 2px;
}

.markdown code {
  white-space: normal;
  line-height: 20px;
  color: #36d6ae;
  font-family: 'Oxygen Mono', monospace;
}

.markdown p {
  margin-bottom: 20px;
  text-align: justify;
}

.markdown a {
  margin-bottom: 10px;
}
.markdown h1 {
  margin-bottom: 10px;
}
.markdown h2 {
  margin-bottom: 10px;
}
.markdown h3 {
  margin-bottom: 10px;
}
.markdown table {
  margin-bottom: 10px;
}
.markdown hr {
  margin-bottom: 10px;
}
.markdown div {
  margin-bottom: 10px;
}

.markdown ul {
  margin-bottom: 10px;
  margin-left: 20px;
  padding-left: 20px;
}

.markdown blockquote {
  margin: 10px 0;
  padding: 10px 5px 10px 20px;
  border-left: 3px solid #3ab793e3;
}

.markdown table {
  border-collapse: separate;
  border-spacing: 0 5px;
  border: 0;
}

.markdown th {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-collapse: separate;
  border-spacing: 5px 5px;
}

.markdown ol {
  padding-left: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}
