.pill {
  padding: 2px 7px;
  color: #fff;
  border-radius: 10px;
  margin: 5px;
  display: inline-flex;
  gap: 7px;
  white-space: nowrap;

  &.--withImage {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;

    img {
      height: 22px;
      border-radius: 50%;
    }
  }

  &.white {
    background-color: #fff;
    color: #000;
  }

  &.black {
    background: rgba(255, 255, 255, 0.1);
    color: #ffffffc7;
  }

  &.blue {
    background-color: var(--blue);
  }

  &.green {
    background-color: var(--green-light);
    color: #000;
  }

  &.green-outline {
    color: var(--primary-color);
    background-color: #000;
    border: 1px solid rgba(54, 214, 174, 0.2);
  }

  &.red {
    background-color: #c80000;
  }

  &.yellow {
    background-color: var(--yellow);
    color: #000;
  }
}
