.button {
  background-color: transparent;
  outline: none;
  border: unset;
  background-position: center center;
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
  background-image: url(./images/attach.svg);
  margin: 0 5px;
  background-size: contain;
  font-size: 0;
  padding: 3px;

  &.remove {
    background-image: url(./images/close.svg);
  }
  &:hover {
    opacity: 0.8;
  }
}
