.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 70px;
  // align-self: center;
}

.title {
  color: #C7C7C7;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}