// @import '../../style/mixins.scss';

.wrapper {
  display: flex;
  flex-direction: column;
}

.separator {
  margin: 10px 0;
  width: 100%;
  padding-top: 20px;
  border-top: rgb(54, 214, 174) solid 1px;
}
