.stars,
.twinkl {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: #000 url('./images/stars.png') repeat top center;
  z-index: 0;
}

.twinkl {
  background: transparent url('./images/twinkling.png') repeat top center;
  z-index: 0;
  animation: move-twink-back 650s linear infinite;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}
