.itemCarousel {
  color: #777777;

  &Bostrom {
    display: flex;
    flex-direction: column;
    padding: 12px 0;
    gap: 10px;
    align-items: center;
    color: #fff;

    &Text {
      font-size: 30px;
      line-height: 26px;

      @media (max-width: 768px) {
        font-size: 20px;
      }
    }

    &DSC {
      background: linear-gradient(
        90.05deg,
        rgb(118, 255, 3) 1.43%,
        rgb(0, 196, 255) 66.55%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.itemLinks {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  margin-bottom: -10px;

  list-style-type: none;
}
