.wrapper {
  * {
    text-transform: initial;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol,
  div {
    margin-bottom: 10px;
  }

  ul,
  ol {
    list-style-type: initial;
    padding-left: 20px;
  }

  img {
    width: 100%;
  }
}

.markdownContainer {
  margin: 0 auto;

  width: clamp(320px, 100%, 580px);
  min-height: 200px;

  display: flex;
  justify-content: center;
  flex-direction: column;

  &.center {
    word-break: break-word;
    align-items: center;
    font-size: 30px;
  }

  &.title {
    font-size: 42px;
  }

  ul,
  li {
    margin-left: 20px;
  }

  @media (max-width: 680px) {
    width: unset;
  }
}

.markdownContainer pre {
  margin: 10px 0;
  background-color: #343a40;
  border-radius: 2px;
}

.markdownContainer code {
  white-space: normal;
  line-height: 20px;
  color: #36d6ae;
  font-family: 'Oxygen Mono', monospace;
}

.markdownContainer p {
  margin-bottom: 20px;
  line-height: 23px;

  &:last-child {
    margin-bottom: 0;
  }
}

.markdownContainer a {
  margin-bottom: 10px;
}

.markdownContainer hr {
  margin-bottom: 10px;
}

.markdownContainer blockquote {
  margin: 10px 0;
  padding: 10px 5px 10px 20px;
  border-left: 3px solid #3ab793e3;
}

.markdownContainer table {
  margin-bottom: 10px;
  border-collapse: separate;
  border-spacing: 0 5px;
  border: 0;

  th {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-collapse: separate;
    border-spacing: 5px 5px;
  }
}

.markdownContainerPreview {
  width: 100%;

  code {
    white-space: normal;
    line-height: 20px;
  }

  p {
    margin-bottom: 10px;
    font-size: 16px;
  }

  p:last-child {
    margin-bottom: 0px;
    font-size: 16px;
  }

  h1 {
    font-size: 23px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }
}
