$size-img: 20px;

.wrapper {
  display: grid;
  gap: 8px;
  grid-template-columns: 70px $size-img;
  color: unset;
  align-items: center;

  span {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  img {
    width: $size-img;
    height: $size-img;
  }
}