.rank {
  padding: 6px 8px;
  width: 25px;
  height: 16px;
  z-index: 15;
  align-items: center;
  color: #fff;
  font-size: 12px;
  border-radius: 20px;
  justify-content: center;
  text-align: center;
  font-weight: 800;
  display: flex;
}
