.wrapper {
  display: grid;
  // grid-template-columns: 110px 1fr;
  grid-template-columns: 2fr 1fr;
  justify-items: end;
  align-items: center;
  gap: 7px;
  padding: 0 5px;
  font-size: 14px;
  line-height: 17px;
  max-width: 200px;

  & > span {
    font-size: 8px;
    line-height: 10px;
  }
}