.containerAboutGift {
  &ProgressBar {
    display: flex;
    flex-direction: column;
    grid-gap: 25px;
    margin: 20px 0px;
  
    &Title {
      display: flex;
      justify-content: center;
      font-size: 18px;
    }

    &Footer {
      display: flex;
      justify-content: space-between;
      width: 100%;
      line-height: 20px;
    }
  }
}
