.wrapper {
  width: 100%;

  // Display
  > div {
    > div {
      display: flex;
      overflow-x: hidden;
      flex-direction: column;

      // height: auto !important;
    }

    // Display title
    > header {
      top: 0;

      > div {
        left: -2px;
        margin: 0;
      }
    }
  }
}

.noData {
  margin: auto;
  color: #616161;
  text-align: center;
}
