.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;

  >:nth-child(2) {
    padding-left: 20px;
  }

  .type {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
  }
}