.containerSignaturesBtnPlay {
  width: fit-content;
  background: transparent;
  border: unset;
  height: 20px;
  font-size: 16px;
  color: var(--primary-color);

  &.disabled {
    color: rgba(255, 255, 255, 0.78);
  }

  &:hover:not(.disabled) {
    text-decoration: underline;
  }
}

.containerSignatures,
.music {
  display: flex;

  align-items: center;
  gap: 3px;
}

.containerSignatures {
  &ItemNote {
    width: 7px;
    border-radius: 2px;
    max-height: 20px;

    @media (max-width: 800px) {
      width: 5px;
    }
  }

  @media (max-width: 800px) {
    gap: 2px;
  }
}

$items: 32;

.containerSignaturesPlaing {
  .containerSignaturesItemNote {
    opacity: 1;
    animation: blink 0.3s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;

    @for $i from 1 through $items {
      &:nth-child(#{$i}) {
        animation-delay: $i * 0.2s;
      }
    }
  }
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
  // 100% {
  //   opacity: 1;
  // }
}
