.bookmarks {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  flex-grow: 1;
  overflow: auto;
  position: relative;
}

.bookmarks__item {
  > div {
    align-items: center;
    flex-shrink: 0;
  }
  position: relative;

  color: #777777;
  text-decoration: none;
  font-size: 14px;

  &.active {
    color: #fff;

    &::before {
      content: '';
      left: 0;
      height: 100%;
      width: 3px;
      background-color: #4ed6ae;
      filter: blur(0.7px);
      box-shadow: 3px 0px 20px 1.5px #4ed6ae;
      position: absolute;
    }
  }

  &:hover {
    color: #32d9ae;
  }
}
