
.menuContainer2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-top: 10px !important;
}

.logo {
width: 54px;
height: 54px;
display: inline-block;
background: url(./logo.svg) no-repeat center center;
text-indent: -999999px;
cursor: pointer;
background-size: 54px 54px;
}



.menu-logo {
  margin: 40px;
}

.app-store-link {
  color: #fff;
  text-decoration: none;
  border: 1px solid #979797;    
  padding: 10px 20px;
}


.bookmarks {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  flex-grow: 1;
  overflow: auto;
  position: relative;
}

.bookmarks__item {
  /* padding-left: 24px;
  padding-right: 14px; */
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  flex-shrink: 0;
  position: relative;
}

.bookmarks__item a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.active::before {
  content: '';
  left: 0;
  height: 30px;
  width: 3px;
  background-color: #4ed6ae;
  filter: blur(0.7px);
  box-shadow: 3px 0px 20px 1.5px #4ed6ae;
  position: absolute;
}

.bookmarks__remove_btn {
  margin: 0 0 0 auto;
  text-indent: -9999px;
  width: 12px;
  height: 12px;
  position: relative;
  right: 0;
  cursor: pointer;
  border: none;
  background: url(./trash.svg) no-repeat center center;
  opacity: 0;
  transition: opacity 0.5s;
  visibility: hidden;
}

.bookmarks__item:hover .bookmarks__remove_btn {
  opacity: 1;
  visibility: visible;
}

.bookmarks__remove_btn:focus {
  background: url(./trash-focus.svg) no-repeat center center;
}

.bookmarks__remove_btn:hover {
  background: url(./trash-focus.svg) no-repeat center center;
}

.bookmarks__item:hover a {
  color: #32d9ae;
}


.AddMenuItem {
  /*background-color: #979797;*/
  position: relative;
  display: inline-block;
}

.AddMenuItem input {
  border-radius: 2px;
  color: #1b1f23;
  border: none;
  padding: 10px;
  padding-right: 40px;
  box-sizing: border-box;
  width: 150px;
  font-size: 14px;
}

.AddMenuItem__approve {
  position: absolute;
  top: 0;
  right: -34px;
  width: 34px;
  bottom: 0;
  border: none;
  color: red;
  background: #438cef;
}

.AddMenuItem__reject {
  position: absolute;
  top: 7px;
  right: 20px;
  border: none;
  color: #fff;
  font-size: 16px;
  top: 0;
  right: 0;
  width: 34px;
  bottom: 0;
  border: none;
  background: #438cef;
}


.ReportLinkContainer {
  height: 42px;
  flex-shrink: 0;
  padding-top: 10px;
}

.ReportLinkContainer a {
  color: #438cef;
  text-decoration: none;
}


.AddMenuItemContainer {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #696969;
  border-top: 1px solid #696969;
  width: 100%;
  text-align: center;
}
