.circle {
  position: fixed;
  bottom: 0px;
  z-index: 4;
  width: 220px;
  height: 220px;
  display: inline-flex;
}

.menu {
  --diameter: 140px;
  --i: 24deg; //elements angle
  --delta: 0deg; //second menu layer angle
  list-style-type: none;
  padding: 0;
  display: grid;
  margin: auto;
}

.menu li {
  grid-area: 1/1;
  transform: rotate(calc(var(--r) + var(--delta))) translateX(var(--diameter))
    rotate(calc(-1 * (var(--r) + var(--delta))));
}

.menu li:nth-child(1) {
  --r: calc(-5 * var(--i));
}
.menu li:nth-child(2) {
  --r: calc(-4 * var(--i));
}
.menu li:nth-child(3) {
  --r: calc(-3 * var(--i));
}
.menu li:nth-child(4) {
  --r: calc(-2 * var(--i));
}
.menu li:nth-child(5) {
  --r: calc(-1 * var(--i));
}
.menu li:nth-child(6) {
  --r: calc(0 * var(--i));
}
.menu li:nth-child(7) {
  --r: calc(1 * var(--i));
}

.menu_item {
  box-shadow: 0px 0px 13px rgba(255, 255, 255, 0.33);
  opacity: 1;
  background-color: rgba(16, 16, 16, 1);
  border-radius: 50%;
  width: 38px;
  height: 38px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.circularMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active_green_dot {
  width: 5px;
  height: 5px;
  background-color: rgba(118, 255, 3, 1);
  box-shadow: 0px 0px 10px 0px rgba(118, 255, 3, 1);
  opacity: 1;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -5px;
}
