@import 'src/style/mixins.scss';

.container {
  // border: 1px solid yellow;

  // grid-auto-flow: row;
  // grid-template-columns: auto 1fr auto;
  // grid-template-areas: '. address total';
  // align-items: center;
  font-size: 20px;
  // width: 100%;

  &.selected,
  &.select:hover {
    position: relative;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      z-index: 0;

      left: -20px;
      right: -20px;

      height: 100%;

      @include tableHover;
    }
  }
}

.total {
  grid-area: total;
  justify-self: flex-end;
}

.address {
  grid-area: address;
}

// @media all and (-ms-high-contrast: none) {
//   .container {
//     display: -ms-grid;
//     -ms-grid-columns: repeat(3, 1fr);
//     -ms-grid-rows: repeat(2, 1fr);
//   }

//   .avatar {
//     -ms-grid-row: 1;
//     -ms-grid-row-span: 2;
//     -ms-grid-column: 1;
//     -ms-grid-column-span: 1;
//   }

//   .name {
//     -ms-grid-row: 1;
//     -ms-grid-row-span: 1;
//     -ms-grid-column: 2;
//     -ms-grid-column-span: 1;
//   }

//   .total {
//     -ms-grid-row: 1;
//     -ms-grid-row-span: 1;
//     -ms-grid-column: 3;
//     -ms-grid-column-span: 1;
//   }

//   .address {
//     -ms-grid-row: 2;
//     -ms-grid-row-span: 1;
//     -ms-grid-column: 2;
//     -ms-grid-column-span: 2;
//   }
// }
