@import 'src/style/mixins.scss';

.container {
  font-size: 20px;

  &.selected,
  &.select:hover {
    position: relative;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      z-index: 0;

      left: 0;
      right: 0;

      height: 100%;

      @include tableHover;
    }
  }
}
