.coinAmount {
  display: flex;
  align-items: center;
  gap: 0 4px;
  color: var(--green-light);

  img {
    width: 13px !important;
    height: 13px !important;
  }

  &.send {
    span {
      color: #ff5c00;
    }
  }
}
