.wrapper {
  list-style-type: none;

  display: flex;
  gap: 10px;

  li {
    color: #1fcbff;
  }

  li.--disabled {
    &,
    label {
      cursor: unset;
      opacity: 0.5;
    }
  }

  li.--checked,
  li:hover:not(li.--disabled) {
    text-shadow: 0px 0px 10px #1fcbff;

    position: relative;

    &::before {
      content: '';
      width: 120%;
      left: -10%;
      display: block;
      position: absolute;
      pointer-events: none;
      top: -19px;
      height: 36px;
      background: #1fcbff;
      border-top: 2px solid #1fcbff;
      /* saber/saber-blue */
      //   box-shadow: 0px 0px 10px 1px rgba(31, 203, 255, 0.5);
      background: linear-gradient(
        0,
        rgba(0, 0, 0, 0) 0%,
        rgba(31, 203, 255, 0.11) 100%
      );
    }
  }

  label {
    cursor: pointer;
  }

  input {
    display: none;
  }
}
