.wrapper {
  display: flex;
  justify-content: space-around;

  align-items: center;
  gap: 0 13px;

  .name {
    color: var(--pink);
    font-size: 30px;
    margin-top: -5px;
    display: block;
  }

  .logo {
    img {
      max-width: 80px;
    }
  }
}

.item {
  height: 100%;
  align-self: stretch;

  font-size: 20px;

  h6 {
    color: #616161;
    font-size: 14px;
    font-weight: 400;
    display: block;

    margin-bottom: 15px;
  }
}
