.text {
  text-align: center;
  grid-area: 2/2/2/2;
  font-size: 16px;
  position: absolute;
  bottom: 30px;

  color: var(--grayscale-dark);

  strong {
    color: white;
    font-weight: 400;
    white-space: nowrap;
  }

  >div {
    display: inline-block !important;
  }
}