.wrapper {
  display: grid;
  align-content: flex-start;
  width: 100%;
  gap: 20px;
  min-height: 70vh;

  >p {
    margin: auto;
    position: relative;
    top: 65px;
    text-align: center;
    line-height: 26px;
  }
}