.containerDataIbc {
  display: grid;
  gap: 20px;
  color: #777777;
  position: relative;
  overflow: hidden;

  &FlexBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &TimeStatus {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}