@import 'src/style/mixins';

.wrapper {
  max-width: 300px;

  .center {
    margin: auto;
    color: #616161;
  }

  > div {
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  ul {
    li {
      &,
      &:not(:last-child) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.11);
      }
    }
  }
}

.item {
  &.selected,
  &:hover {
    @include tableHover;
  }
}
