.wrapper {
  display: grid;
  padding: 10px;
  padding-left: 20px;
  min-height: 62px;
  color: #fff;

  max-width: 350px;

  grid-template-areas:
    'avatar title date'
    'avatar text  unread';

  grid-template-columns: 50px 1fr auto;

  gap: 3px 10px;

  &::before {
    content: '';
    grid-area: title;
  }
}

.avatar {
  grid-area: avatar;
  height: 50px;
  align-self: center;
  width: 50px;
  border-radius: 100%;
  position: relative;

  .icon {
    position: absolute;
    bottom: -2px;
    right: -5px;

    background-color: rgba(97, 94, 94, 0.461);
    border-radius: 50%;

    filter: grayscale(20%);
  }
}

.title {
  grid-area: title;
  font-size: 16px;
  align-self: flex-start;
  display: flex;
  font-weight: 400;
  width: 100%;
  // border: 1px solid red;
  // position: relative;
  // &::after {
  //   content: ' ';
  //   width: 100px;
  //   filter: blur(10px);
  //   border: 1px solid yellow;
  //   position: absolute;
  //   right: 0;
  //   height: 100%;
  //   z-index: -1;
  // }

  &,
  > div > a {
    font-weight: 400;

    &:hover {
      color: unset;
    }
  }

  * {
    color: white;
  }
  align-items: center;
  overflow-x: hidden;

  &.particleTitle {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-height: 1.2em;
    max-height: 2.4em;
    overflow: hidden;
    text-align: left;
    text-transform: lowercase;
  }

  &.uppercase {
    text-transform: none !important;
  }
}

.content {
  grid-area: text;
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  line-height: 1.2em;
  max-height: 2.4em;
  overflow: hidden;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  &.withAmount {
    > p {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      display: block;
    }
  }

  .amounts {
    display: flex;
  }
}

.date {
  text-align: right;
  grid-area: date;
}

.unread {
  grid-area: unread;
  overflow-x: hidden;
  align-self: center;
  margin-right: 0 !important;
}

.date,
.unread {
  justify-self: flex-end;
}
