.meta {
  min-width: 62vw;
  font-size: 14px;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media (width <= 768px) {
    display: block;
    text-align: center;

    .left,
    .right {
      justify-content: center !important;
    }
  }

  > * {
    flex-grow: 1;
  }

  .left {
    display: flex;
    gap: 7px;
    align-items: baseline;

    span:first-of-type {
      color: rgb(255 255 255 / 50%);
      font-size: 14px;
    }

    .rank {
      display: flex;
      align-items: baseline;
      gap: 5px;
      color: rgb(221 255 255 / 38%);
      font-size: 14px;

      .number {
        color: white;
        line-height: 23px;
      }

      a {
        cursor: help;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  .center {
    display: flex;
    justify-content: center;

    .date {
      white-space: nowrap;
      margin-right: 10px;
    }
  }

  .right {
    display: flex;
    grid-column: 3;
    justify-content: flex-end;
    gap: 14px;

    a {
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
