.containerBandwidthBar {
  width: 100%;
}

.btnContainerText {
  border: none;
  font-size: 16px;
  background: transparent;
  color: rgb(31, 203, 255);
  cursor: pointer;
}

.containerInfoSwitch {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  gap: 10px;
  color: var(--blue-light);
}