.containerAvailableAmount {
  height: 42px;
}

.containerValue {
  padding: 0 13px;
  font-size: 1.25rem;
  color: var(--text-text-dark);
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}