.containerControlPanel {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 2px 0 -5px;
  padding: 17px 12px 20px;
  color: #fff;
}

.size {
  white-space: nowrap;
}
