.containerGridContainer {
  display: grid;
  grid-template-columns: 180px 180px;
  gap: 20px;
}

.containerCol {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.teleportContainer {
  width: 390px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}