.carousel {
  width: 100%;
  overflow: hidden;
  height: 40px;

  &.disableMode {
    .slide {
      cursor: unset !important;
    }
  }

  .slidesContainer {
    height: 100%;
    // overflow: hidden;
    position: relative;
  }

  .slides {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
  }
}

.transition {
  transition: ease all 0.5s;
}