.containerItemValue {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  &Value {
    line-height: 30px;
  }

  &Title {
    line-height: 30px;
    color: #999999;
  }
}

.containerCurrentGift {
  display: flex;
  flex-direction: column;
  gap: 25px;

  &ContaiterAmountGift {
    display: flex;
    width: 100%;
    align-items: baseline;
    justify-content: space-around;
  }
}

.containerTableAllocation {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.containerItemTable {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  line-height: 28px;
}
