.mainAnimationContainer {
  display: flex;
  position: relative;
  height: 90vh;
  width: 100%;
  // margin: 0 auto;
  // max-width: 1000px;
  align-items: center;
  justify-content: center;

  svg {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

.genesisTimerContainer {
  font-family: 'Play', sans-serif;
  font-size: 76px;
  color: #ffffff;
  text-align: center;

  span {
    margin-left: -5px;
  }
}
