.dropDown {
  width: 120px;
  height: 42px;
  position: relative;

  &Container {
    width: inherit;
    height: inherit;
  }

  &ContainerHeader {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
  }

  &Header {
    font-weight: 400;
    color: #36d6ae;
    display: grid;
    grid-template-columns: 28px 80px;
    grid-gap: 10px;
    align-items: center;
    position: absolute;
    bottom: 10px;
    z-index: 1;
    font-size: 1rem;
    padding-left: 5px;
    white-space: nowrap;
  }

  &ListContainer {
    position: absolute;
    z-index: 3;
    width: 100%;
  }

  &List {
    display: grid;
    grid-gap: 18px;
    padding: 18px;
    margin: 0px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    // border-top: 1px solid #fcf000;
    // border-bottom: 1px solid #fcf000;
    box-sizing: border-box;
    color: #36d6ae;
    max-height: 215px;
    overflow-y: auto;
  }

  .listItem {
    display: grid;
    grid-template-columns: 28px 80px;
    grid-gap: 13px;
    align-items: center;
    white-space: nowrap;

    &:hover {
      color: #c7c7c7;
      cursor: pointer;
    }

    .bgrImg {
      width: 28px;
      height: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background: #000000;
      // box-shadow: 0px 0px 6px 1px rgba(255, 255, 255, 0.5);
    }
  }

  &.disabled {
    &,
    button {
      cursor: not-allowed !important;
    }

    .dropDownHeader {
      color: gray;
    }
  }
}

.small {
  height: 36px; // +2px of btn h
}
