@import '../../../style/mixins.scss';

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 10px;

  a {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px 0;

    &:hover {
      img {
        opacity: 0.7;
      }
    }

    span {
      @include withShareIcon;
    }
  }
}
