.triangle {
  color: var(--blue-light);
  width: 0;

  // &::before {
  //   content: '';
  //   filter: blur(10px);
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   z-index: -1;
  // }
  transform: rotate(180deg);
  display: inline-block;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 9px solid var(--blue-light);

  &_up {
    transform: rotate(0deg);
  }

  &.disabled {
    color: rgba(255, 255, 255, 0.5);
    border-bottom-color: rgba(255, 255, 255, 0.5);
  }
}
