.container {
  display: flex;

  width: 100%;
  justify-content: center;

}

@mixin ion-light {
  width: 150px;
  height: 39px;
  filter: blur(25px);
  position: absolute;
}

.teleportLogo {
  width: 200px;
  height: 200px;
  display: block;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(images/teleport-logo-angled.png);

  &::before {
    content: "";
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 3.92%, rgba(0, 0, 0, 0) 3.93%, rgba(255, 217, 0, 0.15) 86.49%, rgba(255, 217, 0, 0.15) 99.97%);
    right: 100%;
    transform: translate(50%, 0%) rotate(-45deg);
    @include ion-light;
    top: 100%;
  }

  &::after {
    content: "";
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 3.92%, rgba(0, 0, 0, 0) 3.93%, rgba(255, 217, 0, 0.15) 86.49%, rgba(255, 217, 0, 0.15) 99.97%);
    left: 100%;
    transform: translate(-50%, -50%) rotate(-45deg);
    top: 0%;
    @include ion-light;
  }
}

// content: "";
// width: 150px;
// height: 130px;
// position: absolute;
// border: 1px solid;
// border-radius: 50%;
// transform: perspective(220px) rotateX(35deg) rotateY(255deg);
// opacity: 0.5;