.carousel {
  width: 100%;
  max-width: 600px;
  overflow-x: hidden;
  height: 40px;

  .slidesContainer {
    height: 100%;
    // overflow: hidden;
    position: relative;
  }

  .slides {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
  }
}

.transition {
  transition: ease all 0.5s;
}
