.container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.moniker {
  color: var(--primary-color);
  padding: 0;
  white-space: nowrap;

  width: 100%;
  overflow-x: hidden;
  text-overflow: ellipsis;
  text-align: center;
}