@import '../../globalStyle.scss';

.containerCodeDetails {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0px auto 20px auto;

  @include border-card;
  & > * {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    margin-bottom: 20px;
  }

  &Header {
    &Title {
      font-size: 20px;
      margin-bottom: 20px;
    }

    &FileInfo {
      display: inline-flex;
      grid-gap: 15px;
      @include border-card;

      &Type {
        padding-right: 10px;
        border-right: 1px solid #36d6aea2;
      }
    }
  }

  &CodeInfo {
    display: flex;
    flex-direction: column;
    grid-gap: 5px;
    @include border-card;
    margin-bottom: 20px;
  }
}
