.wrapper {
  min-height: 70vh;
  display: flex;
  padding-top: 5px;
  flex-direction: column;
  gap: 35px 0;
  justify-content: center;
}

.titleText {
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 400;
  color: #fff;
}

.tilde {
  font-size: 42px;
  line-height: 26px;
}

.info {
  p {
    margin: 15px auto 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.78);
  }
}

.list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  > * {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  @media (max-width: 480px) {
    flex-direction: column;
    align-items: center;
    gap: 20px 0;
  }
}

.linksExample {
  ul {
    max-width: 880px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
    gap: 22px 63px;

    li {
      display: flex;
      align-items: center;
      gap: 0 15px;
    }
  }

  @media (max-width: 480px) {
    ul {
      align-items: center;
      flex-direction: column;
    }
  }
}

.learn {
  .inputs {
    display: flex;
    align-items: center;
    gap: 0 40px;
  }

  .tilde {
    font-size: 100px;
  }

  @media (max-width: 480px) {
    .inputs {
      gap: 25px 0;
      flex-direction: column;
    }
  }
}

.energy {
  display: flex;
  gap: 0 23px;
  align-items: center;
  margin: 30px auto 10px;

  > :first-child {
    min-width: 75px;
  }

  > :last-child {
    span + span {
      margin-left: 13px;
    }
  }
}
