.milkdown {
  height: 100%;
  /* border: 1px solid #808080; */
  padding: 5px;
}

.milkdown * {
  text-transform: none;
}

.milkdown .editor {
  outline: none;
  height: 100%;
  padding: 5px;
}

.ProseMirror[data-placeholder]::before {
  color: #a9a9a9;
  position: absolute;
  content: attr(data-placeholder);
  pointer-events: none;
  font-size: 16px;
  /* Using default height value of p element in chrome */
  line-height: 20px;
}

.milkdown blockquote {
  margin: 10px 0;
  padding: 10px 5px 10px 20px;
  border-left: 3px solid #3ab793e3;
}

.milkdown h1,
.milkdown h2,
.milkdown h3,
.milkdown h4,
.milkdown h5,
.milkdown h6,
.milkdown ul,
.milkdown ol,
.milkdown div {
  margin-bottom: 10px;
}

.milkdown ul,
ol {
  list-style-type: initial;
  padding-left: 20px;
}

.milkdown img {
  width: 100%;
}

.milkdown p {
  margin-bottom: 20px;
  font-size: 16px;
}

.milkdown p:last-child {
  margin-bottom: 0;
  font-size: 16px;
}

.milkdown code {
  white-space: normal;
  line-height: 20px;
}

