.containerInputMemo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.containerAddFileButton {
  position: absolute;
  right: 10px;
  bottom: 30px;

  input {
    display: none;
  }
}