.voiceInteraction {
  display: flex;
  align-items: center;
  margin-left: 10px;

  button {
    width: 100px;
    min-width: unset;
  }

  // button {
  //   // background-color: #4CAF50;
  //   color: white;
  //   border: none;
  //   padding: 10px 20px;
  //   text-align: center;
  //   text-decoration: none;
  //   display: inline-block;
  //   font-size: 16px;
  //   margin: 4px 2px;
  //   cursor: pointer;
  //   border-radius: 4px;

  //   &:disabled {
  //     background-color: #ccc;
  //     cursor: not-allowed;
  //   }
  // }

  p {
    margin-left: 10px;
    font-style: italic;
  }
}
