.column {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;

  .columnItem {
    display: grid;
    width: 100%;
    gap: 20px;
    grid-template-columns: 100%;
    gap: 20px;
    grid-auto-rows: max-content;
    align-items: flex-start;
    padding-top: 10px;
    padding-bottom: 15px;
    border-radius: 5px;
  }
}

.displayContainer * {
  top: auto;
  padding-top: unset;
  padding-bottom: unset;
}
