.wrapper {
  display: flex;
  gap: 0 28px;
  overflow-x: auto;
  align-items: center;

  > img {
    height: auto;
  }

  .content {
    line-height: 30px;

    > * {
      line-height: initial;
    }

    a {
      margin-top: 5px;
      display: inline-block;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  &.selected {
    background-color: var(--green-light);
  }
}

.passports {
  display: flex;
  gap: 0 15px;

  .passportName {
    color: var(--primary-color);
  }

  .passportMain {
    color: var(--green-light);
  }
}
