.senseBtn {
  display: flex;
  flex-direction: column;
  padding-left: 3px;
  padding: 40px 10px;
  background: linear-gradient(
    to right,
    black 90%,
    rgb(255, 255, 255, 0.5) 100%
  );
  backdrop-filter: blur(15px);
  border-radius: 50px;

  > span {
    font-size: 14px;
    margin-top: 5px;
    color: white;
    // filter: drop-shadow(0px 0px 5px #00c4ff);

    &:last-of-type {
      margin-top: 4px;
      font-size: 16px;
    }
  }

  &:hover {
    transition: all 0.3s;
    padding-right: 30px;

    background-color: var(--green-light);
    span {
      color: var(--green-light);
    }
  }
}
