.container {
  width: 62%;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 375px);
  gap: 50px;

  @media (max-width: 580px) {
    grid-template-columns: 1fr;
    width: 95%;

    >:nth-child(1) {
      display: none;
    }
  }
}

.cardContainer {
  display: grid;
  gap: 15px
}