.container {
  display: flex;
  flex-direction: column;
  gap: 6px;

  &:hover {
    .title {
      color: #00FFBF;
      text-shadow: 0px 0px 5px var(--primary-color);
    }
  }
}

.title {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 400;

}

.subTitle {
  color: #ffffff80;
  font-size: 14px;
  line-height: 19px;
}