.containerUnclaimedGift {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.containerItemRow {
  display: flex;
  width: 100%;
  line-height: 20px;
  font-size: 18px;
  justify-content: space-between;
}
