
.networkBtnImgIconMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.2s;
  transform: translate(-50%, -50%) rotate(-90deg);

  &Close {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }
}


@media (max-width: 768px) {
  .networkBtnImgIconMenu {
    div {
      width: 25px;
      height: 3px;
      margin: 4px 0;
    }
  }
}
