@import '../containerGradient/saber/index.module.scss';

@mixin active-saber($position) {
  $color-saber: 'white';
  color: #fff;
  font-size: 1.125rem;

  @if ($position ==left or $position ==right) {
    @include saber-100($color-saber, $position);
  }

  @else {
    @include saber-horizontal($color-saber);
  }
}

.tabButton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: var(--primary-color);
  height: 42px;
  width: 100%;
  font-size: 1rem;

  @include saber-horizontal('blue');

  &Active {
    @include active-saber(center);
  }
}

.left {
  @include saber-100('blue', right);
  border-left: unset;

  &::before {
    content: unset;
  }

  &Active {
    @include active-saber(right);
  }
}

.right {
  @include saber-100('blue', left);
  border-right: unset;

  &::after {
    content: unset;
  }

  &Active {
    @include active-saber(left);
  }
}