.buttonNetwork {
  background: transparent;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0 5px;
  font-size: 16px;

  &:disabled {
    color: #ff9100;
    cursor: default;
  }
}
