.search {
  width: 62%;
  margin: 10px auto;

  .infiniteScroll {
    margin-top: 12px;
    display: grid;
    justify-content: stretch;
  }

  @media (width < 768px) {
    width: 90%;
  }
}

.actionBar {
  position: fixed;
  left: 0;
}
