.chatBot {
  font-size: 12px;
}

.panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.titleButton {
  cursor: pointer;
}

.pluginsButton {
  margin-top: 5px;
  text-align: right;
  span {
    padding-right: 5px;
  }
}
