.keywordBtn {
  &,
  // global styles
  &:hover {
    color: var(--blue-light);
  }

  font-size: 16px;
  padding: 3px 15px;
  text-align: center;

  border-radius: 15px;
  border: 1px solid rgba(31, 203, 255, 0.2);

  &:hover {
    opacity: 0.7;
  }
}
