$position: 2px;

.keywordBtn {
  color: var(--blue-light);
  width: 60px;

  font-size: 16px;
  padding: 3px 15px;
  text-align: center;

  border-radius: 15px;
  border: 1px solid rgba(31, 203, 255, 0.2);

  &:hover {
    opacity: 0.7;
  }

  &.isKeyword {
    width: unset;
    position: relative;
    &:hover {
      &::after {
        content: 'x';
        position: absolute;
        background-color: var(--red);
        color: var(--grayscale-primary);
        left: $position;
        right: $position;
        top: $position;
        bottom: $position;
        border-radius: 15px;
      }
    }
  }
}
