.wrapper {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.icon {
  display: flex;
  flex-direction: row;
  margin-left: 3px;

  .vertical {
    flex-direction: column;
  }
}

.tooltipWrapper {
  white-space: nowrap;
}
