.meta {
  display: flex;
  align-items: center;
  gap: 5px 20px;

  // temp
  z-index: 1;

  font-size: 14px;

  & > :first-child {
    position: relative;
    top: 4px;
  }
}

.size {
  white-space: nowrap;
}
