.meta {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  // padding: 10px;

  //   border: 1px solid red;
  //   flex: 0;

  // temp
  z-index: 10;

  font-size: 12px;
  max-width: 150px;

  // background-color: rgba(0, 17, 22, 0.37);
  // filter: drop-shadow(0px 0px 10px rgba(0, 196, 255, 0.2));
  // backdrop-filter: blur(15px);
}

.cid {
  display: flex;
  align-items: center;
}

.links {
  color: var(--blue-light);

  span {
    display: inline-block;
    background-image: url('../../../buttons/AddFile/images/attach.svg');
    width: 12px;
    height: 12px;
    background-size: contain;
  }
}

.community {
  display: flex;
  > div {
    filter: grayscale(95%);
    &:not(:first-child) {
      margin-left: -20px;
    }
  }
}
