.temp {
  display: flex;

  table:nth-of-type(1) {
    th {
      height: 54px;
    }
    tr {
      &:hover {
        background: transparent;
      }
    }
  }
}

.color_ {
  &red {
    color: var(--red);
  }
  &green {
    color: var(--green-light);
  }
  &orange {
    color: orange;
  }
}
