.wrapper {
  display: flex;

  table:nth-of-type(1) {
    tr {
      &:hover {
        background: transparent;
      }
    }
  }

  table th {
    height: 85px;
  }
}

.headerCell {
  position: relative;
  display: flex;
  justify-content: center;
}
