.wrapper {
  display: flex;

  table:nth-of-type(1) {
    tr {
      &:hover {
        background: transparent;
      }
    }
  }

  table th {
    height: 85px;
  }
}

.color_ {
  &red {
    color: var(--red);
  }
  &green {
    color: var(--green-light);
  }
  &orange {
    color: orange;
  }
}
