.auction .table-rows {
    display: grid;
    grid-template-columns: 0.5fr 0.9fr 0.7fr 1fr 0.7fr 0.6fr 0.7fr;
    width: 100%;
    height: 30px;
    align-items: center;
    grid-gap: 5px;
}

.auction .table-rows div:first-child {
    padding-left: 20px;
}

.auction .table-rows div:last-child {
    padding-right: 20px;
}

.auction .table-header-rows {
    display: grid;
    width: 100%;
    height: 30px;
    align-items: center;
    grid-gap: 5px;
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
    grid-template-columns: 0.5fr 0.9fr 0.7fr 1fr 0.7fr 0.6fr 0.7fr;
    font-size: 16px;
    padding-bottom: 5px;
}


.auction .table-header-rows .numberType {
    justify-content: center;
}

.auction .table.claimed .table-body .table-rows {
    display: grid;
    grid-template-columns: 0.6fr 1fr 1fr 1fr 1fr 0.7fr 0.7fr 0.7fr;
    width: 100%;
    height: 30px;
    align-items: center;
}

.auction .table.claimed .table-body .table-rows:hover {
    background-color: #ffffff26;
}

.auction .table.claimed .table-body .table-rows div:last-child {
    padding-right: 0;
}

.auction .table.claimed .table-header-rows {
    display: grid;
    grid-template-columns: 0.6fr 1fr 1fr 1fr 1fr 0.7fr 0.7fr 0.7fr;
    width: 100%;
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.auction-container-dinamics{
    position: relative;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.statistics-plot {
    position: absolute;
    top: 15%;
    left: 7%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    font-size: 13px;
}
.statistics-plot span {
    color: #36d6ae;
}

.bnt-claime {
    border: none;
    outline: none;
    background-color: #000;
    color: #36d6ae;
    box-shadow: 0 0 3px #3ab793;
    border-radius: 2px;
    padding: 4px 9px;
    font-size: 14px;
    font-family: Play;
    cursor: pointer;
}

.bnt-claime:hover {
    box-shadow: 0 0 7px #3ab793;
}

.bnt-claime:active {
    background-color: #36d6ae;
    color: #fff;
}

.container-action a {
    text-decoration: none;
}

.active-row {
    color: #36d6ae;
}

.actionBar-text {
    display: flex;
    font-size: 20px;
    justify-content: center;
}

.input-box-valid{
    display: flex;
    position: relative;
}

.input-box-valid input {
    width: 100%;
}

.errorMessage {
    position: absolute;
    white-space: nowrap;
    top: 100%;
    font-size: 13px;
    color: #e61303;
}

.text-default {
    font-size: 16px;
}

.flex-column {
    flex-direction: column;
}

.hash {
    font-size: 12px;
}