.container-statistics-card {
  display: flex;
  flex-direction: column;
  padding: 45px 0;
  align-items: center;
  background-color: #000;
  min-width: 250px;
  box-shadow: 0 0 5px #36d6ae;
  border-radius: 5px;
}

.container-statistics-card:hover {
  box-shadow: 0 0 15px #36d6ae;
}

.card-statistics-title {
  display: flex;
  white-space: nowrap;
  color: #4ed6ae;
  font-size: 16px;
  line-height: 20px;
}

.card-statistics-value {
  display: inline-block;
  color: #4ed6ae;
  font-size: 26px;
  line-height: 20px;
  white-space: nowrap;
  margin-bottom: 20px;
  height: 20px;
}

.container-switch {
  position: relative;
  display: flex;
}

.switch input {
  position: absolute;
  opacity: 0;
}

/**
 * 1. Adjust this to size
 */

.switch {
  display: inline-block;
  font-size: 20px; /* 1 */
  height: 1em;
  width: 2em;
  background: #000000;
  border-radius: 1em;
  box-shadow: 0 0 3px 1px #36d6ae;
}

.switch div {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: #fff;
  box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
}

.switch input:checked + div {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.txs-contaiter-row {
  flex-direction: row;
  margin-bottom: 15px;
  line-height: 2;
}

.container-account-balance .account-balance {
  flex: 2 1;
  padding: 0 30px;
}

.container-account-balance .account-total {
  flex: 1 1;
  display: flex;
  border-left: 1px solid #38d6ae8c;
}

.contaiter-address-total {
  display: none;
}

.ValidatorInfo__info-wrapper {
  border-bottom: 1px solid #36d6ae82;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.ValidatorInfo__addr-wrapper {
  display: grid;
  word-break: break-all;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
}

.ValidatorInfo__moniker-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ValidatorInfo__moniker-wrapper-resonsive {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ValidatorInfo__addrs-wrapper {
  padding-left: 25px;
}

.ValidatorInfo__moniker-wrapper-mobi {
  display: none;
}

.ValidatorInfo__Delegated-MissedBlocks-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 15px;
}

.container-gift {
  padding: 20px 20%;
}

.contentItem {
  width: 60%;
  margin: 0 auto;
}

.contentItem-discussion {
  width: 60%;
  margin: 0 auto;
}

.container-contentItem {
  width: 62%;
  margin: 0 auto;
  padding-bottom: 100px;
}

@media (max-width: 979px) {
  .txs-contaiter-row {
    flex-direction: column;
    margin-bottom: 10px;
    line-height: 1.6;
  }
  .container-account-balance .account-balance {
    flex: 1 1;
    padding: 0 0 0 25px;
  }
  .container-account-balance .account-total {
    display: none;
  }
  .contaiter-address-total {
    display: flex;
  }
  .ValidatorInfo__info-wrapper {
    border-bottom: none;
    margin-bottom: 5px;
    flex-direction: column;
    padding-bottom: 0;
  }

  .ValidatorInfo__addr-wrapper {
    grid-auto-flow: row;
    grid-template-columns: unset;
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 5px;
  }

  .ValidatorInfo__moniker-wrapper {
    display: none;
  }

  .ValidatorInfo__addrs-wrapper {
    padding-left: 0;
  }

  .ValidatorInfo__moniker-avatar-wrapper-mobi {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .ValidatorInfo__moniker-wrapper-mobi {
    display: flex;
    margin: 0;
    justify-content: space-between;
    width: 100%;
    margin-left: 10px;
    height: 80px;
    align-items: flex-start;
  }

  .ValidatorInfo__Delegated-MissedBlocks-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

.iframe-SearchItem {
  border: none;
}

.iframe-SearchItem pre {
  color: #fff !important;
}

.btn-add-file {
  background: url(../image/attach.svg) center center no-repeat;
  background-color: transparent;
  outline: none;
  border: none;
  height: 25px;
  width: 25px;
  cursor: pointer;
  margin: 0 5px;
  padding: 3px;
}

.btn-add-file:hover {
  opacity: 0.8;
}

.btn-add-close {
  background: url(../image/close.svg) center center no-repeat;
  background-color: transparent;
  outline: none;
  border: none;
  height: 25px;
  width: 25px;
  cursor: pointer;
  margin: 0 5px;
  padding: 3px;
}

.btn-add-close:hover {
  opacity: 0.8;
}

.hover-row:hover {
  box-shadow: 0px 0px 7px #3ab793db;
  cursor: pointer;
}

.cursor-pointer:hover {
  cursor: pointer;
}

.btn:hover {
  opacity: 1;
}

.container-description p {
  margin-bottom: 15px;
  text-align: justify;
}

.container-description h3 {
  margin-bottom: 20px;
}

.container-description ul {
  margin-bottom: 15px;
  padding-left: 20px;
}

.container-description ol {
  margin-bottom: 15px;
  padding-left: 20px;
}

.pulse {
  background: transparent;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(24, 255, 255, 1);
  height: 50px;
  width: 40px;
  animation: pulse-green 4s infinite;
}

.pulse-cyb {
  background: transparent;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(24, 255, 255, 1);
  height: 50px;
  width: 40px;
  animation: pulse-green 4.5s infinite;
}

@keyframes pulse-green {
  0% {
    box-shadow: 0 0 0 0 rgba(24, 255, 255, 0.54);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(24, 255, 255, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(24, 255, 255, 0);
  }
}

.container-text-SearchItem code {
  white-space: normal;
  line-height: 20px;
}

.container-text-SearchItem p {
  margin-bottom: 10px;
  font-size: 16px;
}

.container-text-SearchItem p:last-child {
  margin-bottom: 0px;
  font-size: 16px;
}

.container-text-SearchItem h1 {
  margin-bottom: 10px;
  font-size: 23px;
}

.container-text-SearchItem h2 {
  margin-bottom: 10px;
  font-size: 20px;
}

.container-text-SearchItem h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.container-text-SearchItem div {
  margin-bottom: 10px;
}

.container-text-SearchItem ul {
  margin-bottom: 10px;
  padding-left: 20px;
}

.container-text-SearchItem ol {
  margin-bottom: 10px;
  padding-left: 20px;
}

.container-text-SearchItem img {
  width: 100%;
}

.SearchItem {
  width: 70%;
  margin: 0 auto;
}

.markdown {
  width: 60%;
  margin: 0 auto;
}

.markdown img {
  width: 100%;
}

.markdown pre {
  margin: 10px 0;
  background-color: #343a40;
  border-radius: 2px;
}

.markdown code {
  white-space: normal;
  line-height: 20px;
  color: #36d6ae;
  font-family: 'Oxygen Mono', monospace;
}

.markdown p {
  margin-bottom: 10px;
  text-align: justify;
}

.markdown a {
  margin-bottom: 10px;
}
.markdown h1 {
  margin-bottom: 10px;
}
.markdown h2 {
  margin-bottom: 10px;
}
.markdown h3 {
  margin-bottom: 10px;
}
.markdown table {
  margin-bottom: 10px;
}
.markdown hr {
  margin-bottom: 10px;
}
.markdown div {
  margin-bottom: 10px;
}

.markdown ul {
  margin-bottom: 10px;
  margin-left: 20px;
  padding-left: 20px;
}

.markdown blockquote {
  margin: 10px 0;
  padding: 10px 5px 10px 20px;
  border-left: 3px solid #3ab793e3;
}

.markdown table {
  border-collapse: separate;
  border-spacing: 0 5px;
  border: 0;
}

.markdown th {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-collapse: separate;
  border-spacing: 5px 5px;
}

.markdown ol {
  padding-left: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.objectInspector li {
  background-color: #000 !important;
}

.rank {
  padding: 6px 8px;
  width: 25px;
  height: 16px;
  align-items: center;
  color: #fff;
  font-size: 12px;
  border-radius: 20px;
  justify-content: center;
  text-align: center;
  font-weight: 800;
  display: flex;
}

.rank-contentItem {
  cursor: pointer;
  opacity: 0;
}

.hover-rank:hover .rank-contentItem {
  opacity: 0.8;
}

.hover-rank-contentItem {
  opacity: 0;
}

.hover-rank:hover .hover-rank-contentItem {
  opacity: 1;
}

@media (max-width: 500px) {
  .container-gift {
    padding: 20px 0;
  }
  .battery-container {
    display: none;
  }

  .markdown {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .battery-container {
    display: none;
  }

  .container-contentItem {
    width: 100%;
    padding-bottom: 10px;
  }

  .block-body {
    width: 100%;
  }

  .contentItem {
    width: 100%;
  }

  .contentItem-discussion {
    width: 80%;
    margin: 0;
  }

  .SearchItem {
    width: 100%;
    margin: 0 auto;
  }
}

.tooltip-container {
  z-index: 4;
}

.cosmos-address:hover {
  opacity: 0.8;
}

.img-method-addedAddress {
  opacity: 0;
}

.cosmos-address:hover .img-method-addedAddress {
  opacity: 1;
}

.details-balance {
  opacity: 0;
}

.cosmos-address-balance:hover {
  opacity: 0.8;
}

.cosmos-address-balance:hover .details-balance {
  opacity: 1;
}

.cardVisaActionBar {
  padding: 10px 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cardVisaActionBar:hover {
  box-shadow: 0 0 9px 1px #3ab793;
}

.cardVisaActionBar:active {
  background-color: #3ab793;
}

.container-buttonIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  background: transparent;
  position: relative;
}

.container-buttonIcon img {
  width: 34px;
  height: 30px;
  object-fit: contain;
}

.container-buttonIcon.active-icon::after {
  content: '';
  height: 1px;
  width: 20px;
  position: absolute;
  top: 100%;
  background-color: #36d6ae;
  box-shadow: 0px 0px 3px 1px #36d6ae;
}

.container-buttonIcon:hover img {
  opacity: 0.8;
}

.container-buttonIcon:disabled {
  opacity: 0.6;
}

.button-edit-accountName {
  display: none;
}

.pocket-card-accountName-contaiter:hover .button-edit-accountName {
  display: flex;
}

.pocket-card-accountName-text {
  white-space: nowrap;
}

.account-popaps {
  cursor: pointer;
}

.account-popaps:hover {
  opacity: 0.8;
}

.panel {
  background: #000;
  border-radius: 5px;
  box-shadow: 0 0 5px #3ab793;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 20px;
  font-size: 16px;
}

.svg_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg_wrap svg {
  width: 200px;
  border-radius: 50%;
  transform: rotate(-90deg);
}

.svg_wrap svg circle {
  fill: none;
  r: 20px;
  cx: 20px;
  cy: 20px;
  stroke-width: 5;
}

.svg_wrap svg circle.svg_background {
  stroke: #97979775;
}

.svg_wrap svg circle.svg_calc {
  stroke: #3ab793;
}

.svg_wrap .svg_value {
  position: absolute;
  font-weight: 500;
}

.svg_wrap .svg_value:after {
  content: '%';
}

.disabled-Btn-Mint {
  cursor: default !important;
  opacity: 0.8 !important;
  background-image: none !important;
  background-color: #31363abf !important;
  box-shadow: none !important;
  outline: none !important;
  color: #ffffff !important;
}
