.container-statistics-card {
  display: flex;
  flex-direction: column;
  padding: 45px 0;
  align-items: center;
  background-color: #000;
  min-width: 250px;
  box-shadow: 0 0 5px #36d6ae;
  border-radius: 5px;
}

.container-statistics-card:hover {
  box-shadow: 0 0 15px #36d6ae;
}

.card-statistics-title {
  display: flex;
  white-space: nowrap;
  color: #4ed6ae;
  font-size: 16px;
  line-height: 20px;

}

.card-statistics-value {
  display: inline-block;
  color: #4ed6ae;
  font-size: 26px;
  line-height: 20px;
  white-space: nowrap;
  margin-bottom: 20px;
  height: 20px;
}



.container-switch {
  position: relative;
  display: flex;
}

.switch input {
  position: absolute;
  opacity: 0;
}

/**
 * 1. Adjust this to size
 */

.switch {
  display: inline-block;
  font-size: 20px; /* 1 */
  height: 1em;
  width: 2em;
  background: #000000;
  border-radius: 1em;
  box-shadow: 0 0 3px 1px #36d6ae;
}

.switch div {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: #FFF;
  box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
  -webkit-transition: all 300ms;
     -moz-transition: all 300ms;
          transition: all 300ms;
}

.switch input:checked + div {
  -webkit-transform: translate3d(100%, 0, 0);
     -moz-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}

.txs-contaiter-row{
  flex-direction: row;
  margin-bottom: 15px;
  line-height: 2;
}

.container-account-balance .account-balance {
  flex: 2 1;
  padding: 0 30px;
}

.container-account-balance .account-total {
  flex: 1 1;
  display: flex;
  border-left: 1px solid #38d6ae8c;
}

.contaiter-address-total{
  display: none;
}

@media (max-width: 979px) {
  .txs-contaiter-row{
    flex-direction: column;
    margin-bottom: 10px;
    line-height: 1.6;
  }
  .container-account-balance .account-balance {
    flex: 1 1;
    padding: 0 0 0 25px;
  }
  .container-account-balance .account-total {
    display: none;
  }
  .contaiter-address-total {
    display: flex;
  }
}

