.link-cuber {
  position: absolute;
  bottom: 36px;
  right: 50px;
}
.logo-cuber {
  height: 44px;
}

.block-container-site {
  width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 0 0 0 100px;
  display: table;
  box-sizing: border-box;
}

.block-left-container-site {
  width: 50px;
  float: left;
  position: relative;
}

.block-left-container-site:after {
  content: '';
  position: absolute;
  width: 3px;
  height: calc(100% - 30px);
  top: 30px;
  right: 0;
  background: #ffffff;
}

.block-right-container-site {
  width: 1250px;
  float: right;
  position: relative;
}
.girl {
  height: 587px;
  position: absolute;
  right: 0px;
  top: 120px;
  z-index: 10;
}

p.title-left-count {
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  font-weight: 300;
}

p.title-func {
  color: #ffffff;
  font-size: 20px !important;
  line-height: 30px;
  margin: 0;
  font-weight: 300;
}

p.title-func span.italic {
  color: #96d9bd;
  font-style: italic;
}

.padding-left-45 {
  padding: 0 0 0 45px;
  box-sizing: border-box;
}

img.logo-top {
  height: 64px;
  margin: 39px 0 42px 0;
}

p.title-code,
label.title-code {
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  font-weight: 300;
}

label.title-code {
  display: block;
  margin: 0 !important;
}

p.title-code span.string {
  color: #90d371;
}
label.title-code input {
  background: transparent;
  height: 20px;
  outline: none;
  border: 0;
  border-bottom: 2px solid #abb912;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  font-weight: 300;
  color: #90d371;
  padding: 0 8px;
  position: relative;
  top: -3px;
}
span.left-input {
  color: #abb912;
}
span.right-input {
  color: #abb912;
}

.block-button-white {
  height: 54px;
  border-radius: 5px;
  border: none;
  background-color: #f7f6f2;
  padding: 0 70px;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: Menlo;
  font-size: 25px;
  line-height: 54px;
  margin: 0;
  font-weight: 300;
  text-transform: uppercase;
}

.block-button-white p.title {
  color: #000000;
  font-size: 25px;
  line-height: 54px;
  margin: 0;
  font-weight: 300;
  text-transform: uppercase;
}

.block-graph {
  width: calc(100% - 45px);
  height: 480px;
  background: #00b3ee;
}

.warning {
  color: #ff6347;
  margin-top: 20px;
  font-size: 20px;
  line-height: 30px;
}

.schedule span {
  font-size: 60px !important;
}

.loader-dot {
  display: inline-block;
}

.loader-dot span {
  color: #3ab793;
  font-size: 30px;
  animation: blinkDot 1.4s infinite;
  border-radius: 50%;
  animation-fill-mode: both;
  line-height: 0;
}

.loader-dot span:nth-child(2) {
  animation-delay: 0.2s;
}

.loader-dot span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blinkDot {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.container-statistics {
  display: flex;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  width: 100%;
  /* align-items: center; */
  margin-bottom: 20px;
}

.contaiter-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.indicator-title {
  display: inline-block;
  margin-bottom: 10px;
  color: #3ab793;
  font-size: 16px;
  white-space: nowrap;
}

.indicator-value {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  align-items: center;
  margin-bottom: 16px;
  color: #3ab793;
  font-size: 14px;
  text-align: center;
}

.container-card {
  display: flex;
  flex-direction: column;
  padding: 25px 0;
  align-items: center;
  background-color: '#000000';
  width: 100%;
  max-width: 250px;
  box-shadow: 0 0 5px #3ab793;
  border-radius: 5px;
  margin: 0 5px;
}

.container-card:hover {
  box-shadow: 0 0 15px #3ab793;
}

.container-card-pocket {
  display: flex;
  flex-direction: column;
  padding: 25px 0;
  align-items: center;
  background-color: '#000000';
  width: 100%;
  max-width: 250px;
  box-shadow: 0 0 5px #3ab793;
  border-radius: 5px;
  margin: 0 5px;
}

.container-card-pocket:hover {
  box-shadow: 0 0 10px #00b0ff;
}

/* .card-title {
    display: inline-block;
    margin-bottom: 15px;
    color: #3ab793;
    font-size: 30px;
    line-height: 20px;
} */
/* 
.card-value {
    display: inline-block;
    color: #3ab793;
    font-size: 25px;
    line-height: 20px;
} */

.dots {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3ab793;
}

.table {
  margin-top: 20px;
  width: 100%;
}

.table-header-rows {
  display: grid;
  grid-template-columns: 1.4fr 1.4fr 1fr 1fr 1fr 1fr;
  width: 100%;
  border-bottom: 1px solid #fff;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.table-header-rows .numberType.address {
  justify-content: center;
}

.table-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.table-rows {
  display: grid;
  grid-template-columns: 1.3fr 1.2fr 0.5fr;
  width: 100%;
  height: 30px;
  align-items: center;
}

/* .caption {
    display: inline-block;
    width: 100%;
    margin-bottom: 70px;
    font-size: 30px;
    text-align: center;
} */

.chapter {
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
  font-size: 17px;
  text-align: center;
}

.container-action {
  width: 100%;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  display: flex;
  left: 0;
  right: 0;
  background-color: #000;
  z-index: 3;
  min-height: 5%;
  height: 1%;
  transition: min-height 2s;
  align-items: center;
  justify-content: center;
}

.container-action.height50 {
  min-height: 70%;
}

.container-action-content {
  /* width: initial; */
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}

.btn-view {
  padding: 0 10px;
  height: 32px;
  white-space: nowrap;
  background-color: #000;
  color: #36d6ae;
  box-shadow: 0 0 2px 0px #38d6ae;
  text-shadow: 0 0 2px #36d6ae;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-family: Play;
  min-width: 100px;
}

.btn-view:hover {
  box-shadow: 0 0 10px 0px #38d6ae;
}

.btn-view:focus {
  outline: none;
  border: none;
}

.activebtn {
  box-shadow: 0 0 6px 0px #38d6ae;
}

.margin {
  margin: 0 5px;
}

.cont-btn {
  margin-top: 10px;
  height: 32px;
  /* position: absolute; */
  z-index: 1;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.cont-dinam {
  width: 100%;
}

.container-dinamics {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.numberType {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.numberType.address {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  justify-content: flex-start;
  display: inline;
}

.table-btn-col {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.table-index-col {
  text-align: end;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

select {
  width: 200px;
  height: 32px;
  background-color: #000;
  color: #38d6ae;
  font-size: 16px;
  outline: none;
  border: none;
  box-shadow: 0 0 2px #38d6ae;
  padding: 0 10px;
  margin: 0 15px;
}

/* .tooltipContainer {
    padding: 4px 8px !important;
    max-width: 250px !important;
    background-color: rgba(0, 0, 0, 0.95) !important;
    border-radius: 3px !important;
    box-shadow: 0px 0px 4px 1px #38d6ae !important;
    margin-top: 5px !important;
} */

.tooltip-container {
  background-color: #000000;
  box-shadow: 0px 0px 4px 1px #38d6ae;
  border: none;
  max-width: 256px;
}

.tooltip-arrow[data-placement*='bottom']::before {
    border-color: transparent transparent #38d6aea6 transparent;
    border-width: 0 0.5rem 0.4rem 0.5rem;
    position: absolute;
    top: -1px;
}

.tooltip-arrow[data-placement*='bottom']::after {
    border-color: transparent transparent #000000 transparent;
    border-width: 0 0.5rem 0.4rem 0.5rem;
}

.tooltip-arrow[data-placement*='top']::before {
  border-color: #38d6aea6 transparent transparent transparent;
  border-width: 0.4rem 0.5rem 0 0.5rem;
  position: absolute;
  top: 1px;
}

.tooltip-arrow[data-placement*='top']::after {
  border-color: #000000 transparent transparent transparent;
  border-width: 0.4rem 0.5rem 0 0.5rem;
}

.tooltip-arrow[data-placement*='left']::before {
  border-color: transparent transparent transparent #38d6aea6;
  border-width: 0.5rem 0 0.5rem 0.4em;
}

.tooltip-arrow[data-placement*='left']::after {
  border-color: transparent transparent transparent #000000;
  border-width: 0.5rem 0 0.5rem 0.4em;
  left: 3px;
  top: 0;
}

.tooltip-arrow[data-placement*='right']::before {
  border-color: transparent #38d6aea6 transparent transparent;
  border-width: 0.5rem 0.4rem 0.5rem 0;
}

.tooltip-arrow[data-placement*='right']::after {
  border-color: transparent #000000 transparent transparent;
  border-width: 0.5rem 0.4rem 0.5rem 0;
  left: 6px;
  top: 0;
}

.close {
  display: none;
}

.open {
  display: flex;
  flex-direction: column;
}

.hash {
  font-size: 12px;
  font-family: monospace;
  text-align: center;
}

.hash a {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.table-rows-child {
  display: grid;
  grid-template-columns: 1.4fr 1.4fr 1fr 1fr 1fr 1fr;
  width: 100%;
  height: 30px;
  align-items: center;
  font-size: 15px;
}

.table-rows-child:hover {
  background-color: #ffffff11;
}

.table-rows-box {
  display: grid;
  grid-template-columns: 1.9fr 0.5fr 0.5fr 0.5fr;
  width: 100%;
  height: 30px;
  align-items: center;
  cursor: pointer;
}

.table-rows-box:hover {
  color: #36d6ae;
  opacity: 0.9;
}

.table-rows-box .numberType.address {
  justify-content: flex-start;
}

.table-rows-box-open {
  color: #36d6ae;
}

.pin {
  background: url(../image/star-reg.svg) center center no-repeat;
  background-color: transparent;
  outline: none;
  border: none;
  height: 15px;
  width: 15px;
  cursor: pointer;
  margin-right: 5px;
  display: none;
}

.unpin {
  background: url(../image/star-solid.svg) center center no-repeat;
  background-color: transparent;
  outline: none;
  border: none;
  height: 15px;
  width: 15px;
  cursor: pointer;
  margin-right: 5px;
}

.copy-address-btn {
  background: url(../image/ionicons_svg_ios-copy.svg) center center no-repeat;
  background-color: transparent;
  outline: none;
  border: none;
  height: 15px;
  width: 15px;
  cursor: pointer;
  margin-left: 5px;
}

.copy-address-btn:hover {
  opacity: 0.8;
}

.line-action-bar {
  position: absolute;
  width: 1px;
  box-shadow: inset 0 0 4px 0px #3ab793;
  height: 25%;
  top: 50%;
  left: 50%;
  background-color: transparent;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.container-send {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5%;
  align-items: center;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 850px) {
  .container-send {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15%;
    grid-template-columns: 1fr;
  }

  .line-action-bar {
    position: absolute;
    width: 25%;
    box-shadow: inset 0 0 4px 0px #3ab793;
    height: 1px;
    top: 50%;
    left: 50%;
    background-color: transparent;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
}

.checkbox {
  width: 15px;
  height: 15px;
  background: #000;
  border-radius: 50%;
  box-shadow: 0 0 3px 1px #3ab793;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox.checked::after {
  content: '';
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: #3ab793;
  border-radius: 50%;
}

.ledger-img {
  display: block;
  margin: 25px auto;
  height: 15%;
}

.container-json {
  padding-bottom: 15px;
  height: 65%;
}

.container-json pre {
  overflow: auto;
  height: 100%;
  background-color: #000 !important;
  color: #3ab793 !important;
}

.hljs-attr {
  color: #fff !important;
}

.container-action-content-ledger {
  width: initial;
  padding: 0 20px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
}

.sort-row:hover {
  cursor: pointer;
  color: #3ab793;
}

.icon-sort {
  height: 16px;
  transform: rotate(90deg);
}

.icon-sort.asc {
  transform: rotate(0deg);
}

.container-row-pin {
  display: flex;
  align-items: center;
  padding-left: 22px;
}

.container-row-pin-padding0 {
  display: flex;
  align-items: center;
  padding-left: 0;
}

.container-row-pin:hover {
  padding-left: 0;
}

.container-row-pin:hover .pin {
  display: block;
}

/* --------- */

.height100 {
  height: 100%;
}

.width100 {
  width: 100%;
}

.display-grid {
  display: grid;
}

.display-inline-block {
  display: inline-block;
}

.display-flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.grid-template-columns-2fr {
  grid-template-columns: 1fr 1fr;
}

.align-content-center {
  align-content: center;
}

.align-items-center {
  align-items: center;
}

.grid-gap-5 {
  grid-gap: 5%;
}

.box-shadow-1px {
  box-shadow: 0px 1px 4px 0px #25c7a4;
}

.border-right-green {
  border-right: 1px solid #3ab793d4;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-16 {
  font-size: 16px;
}

.max-width-200px {
  max-width: 200px;
}

.margin-bottom-10px {
  margin-bottom: 10px;
}

.margin-right-5px {
  margin-right: 5px;
}

.text-align-center {
  text-align: center;
}

.takeoff .contaiter-manifest {
  width: 80%;
  margin: 0 auto;
  font-size: 18px;
}

.takeoff .title-manifest {
  font-size: 25px;
}

.takeoff .tab-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 15px;
}

.container-quote {
  min-height: 100px;
}

@media (max-width: 500px) {
  .takeoff .container-card {
    max-width: unset;
  }

  .takeoff .contaiter-manifest {
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
  }

  .takeoff .title-manifest {
    font-size: 20px;
  }

  .display-none-mob {
    display: none;
  }

  .table-header-rows {
    grid-template-columns: 1.4fr 1fr 0.5fr 0.5fr;
  }

  .table-rows-box {
    grid-template-columns: 2fr 0.5fr 0.5fr;
  }

  .table-rows-child {
    grid-template-columns: 1.6fr 0.5fr 0.5fr 0.5fr;
  }

  .takeoff .tab-list {
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    gap: 10px;
  }

  .container-quote {
    min-height: 160px;
    font-size: 14px;
  }
}

.container-actionBar-mobile {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* font-size: 14px; */
  align-items: center;
}

.text-actionBar-mob {
  margin-bottom: 10px;
  font-size: 15px !important;
  margin-right: 0 !important;
}