@font-face {
  font-family: 'Play';
  src: url('../fonts/Play-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

html {
  font-family: 'Play';
}

body {
  padding: 0;
  overflow-y: scroll; /* prevent content jumping when scroll appears */
  overflow-x: hidden;
  background-color: #000000;
  color: #fff;
  margin: 0 auto;
}

.rjsf fieldset {
  border: none;
  margin-bottom: 10px;
  min-width: 0;
  padding: 0;
  margin: 0;
}

/* form.rjsf {
    border-bottom: 1px solid #5c5c5c;
} */

.rjsf legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 22px;
  line-height: inherit;
  color: #fff;
  border: 0;
}

.rjsf label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

.rjsf .form-control {
  height: 42px;
  border: none;
  background-color: transparent;
  box-shadow: #36d6ae 0px 0px 5px;
  color: #fff;
  font-size: 18px;
  text-align: start;
  caret-color: #fff;
  padding: 2px 15px;
  border-radius: 5px;
  margin: 0;
  width: 100%;
}

.rjsf .panel {
  background: #000;
  border-radius: 5px;
  box-shadow: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 20px;
  font-size: 16px;
  margin: 0;
}

.rjsf .panel-body {
  padding: 15px;
}

.rjsf .form-group {
  margin-bottom: 15px;
}

.rjsf .panel-default {
  border: 1px solid #fbfbfb59;
}

.rjsf .array-item {
  display: grid;
  grid-template-columns: 70% 25%;

  gap: 15px;
}

.rjsf .array-item .array-item-toolbox {
  display: flex;
  padding: 5px;
  justify-content: center;
}

.rjsf .btn-group {
  width: 100% !important;
  gap: 5px;
}

.rjsf .array-item-remove {
  box-shadow: 0 0 6px 0px #38d6ae !important;
}

.rjsf .glyphicon {
  position: relative;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rjsf .btn-danger {
  height: 28px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff !important;
  background-color: #d9534f !important;
  border-color: #d43f3a !important;
  background-image: none !important;
  box-shadow: 0 0 5px 0px #38d6ae !important;
}

.rjsf .btn-danger:hover {
  background-image: none !important;
  background-image: none !important;
  background-color: #d9534f !important;
  box-shadow: 0 0 5px 0px #38d6ae !important;
}

.rjsf .array-item-move-down {
  height: 28px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff !important;
  box-shadow: 0 0 5px 0px #38d6ae !important;
}

.rjsf .array-item-move-up {
  height: 28px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff !important;
  box-shadow: 0 0 5px 0px #38d6ae !important;
}

.rjsf .glyphicon-remove:before {
  content: 'x';
}

.rjsf .glyphicon-arrow-down:before {
  content: '\25bc';
}

.rjsf .glyphicon-arrow-up:before {
  content: '\25B2';
}

.rjsf .array-item-add {
  float: right;
  padding: 0 7px;
}

.rjsf .glyphicon-plus:before {
  content: '\002B';
  font-size: 30px !important;
  line-height: 30px;
}

/* .rjsf .text-right .array-item-add .btn-add {
  float: right;
  padding: 0 7px;
} */

p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  color: darkgray;
}

a {
  color: #36d6ae;
  text-decoration: none;
}

.block-body {
  width: calc(100% - 1em);
  /* min-height: calc(100vh - 190px); */
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* background: url("https://ipfs.io/ipfs/QmV2i3zrWF2ZzmKtzMFMFqyrAjadShFn5qwmU3ANv66BUY"); */
  background-position: top left !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  padding: 10px 1em 135px 1em;
  position: relative;
  background-color: #000000;
}

.block-body-home {
  width: calc(100% - 2em);
  min-height: calc(100vh - 90px);
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* background: url("https://ipfs.io/ipfs/QmV2i3zrWF2ZzmKtzMFMFqyrAjadShFn5qwmU3ANv66BUY"); */
  background-position: top left !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  padding: 10px 1em 1em;
  position: relative;
  background-color: #000000;
  height: 1px;
}

.container-timer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.timer {
  font-size: 25px;
  color: #36d6ae;
  margin: 0 5px;
}

.container-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.countdown {
  white-space: nowrap;
}

.countdown-time {
  font-size: 25px;
  font-weight: 650;
  margin: 0 10px;
}

.text-glich {
  position: relative;
  z-index: 0;
}

.text-glich::before,
.text-glich::after {
  content: attr(data-text);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.text-glich::before {
  color: #ff00c1;
  animation: glitc-effect 3s infinite;
}

.text-glich::after {
  color: #3498db;
  animation: glitc-effect 2s infinite;
}

@keyframes glitc-effect {
  0% {
    left: -2px;
    top: -2px;
  }

  25% {
    left: 2px;
    top: 0px;
  }

  50% {
    left: -1px;
    top: 2px;
  }

  75% {
    left: 1px;
    top: -1px;
  }

  100% {
    left: 0px;
    top: 2px;
  }
}

.no-margin {
  margin: 0;
}

textarea {
  font-size: 16px;
  background-color: #000;
  border: none;
  outline: none;
  caret-color: #3ab793;
  color: #3ab793;
  box-shadow: 0 0 2px 0.3px #3ab793;
  padding: 0 5px;
  border-radius: 3px;
  width: 100%;
  min-height: 70px;
}

textarea:focus {
  outline: none;
}

textarea:active {
  outline: none;
}

/* input {
  font-size: 16px;
  height: 30px;
  background-color: #000;
  border: none;
  outline: none;
  caret-color: #3ab793;
  color: #3ab793;
  box-shadow: 0 0 2px 0.3px #3ab793;
  padding: 0 5px;
  border-radius: 3px;
} */

input:focus {
  outline: none;
}

input:active {
  outline: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #3ab793;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #3ab793;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #3ab793;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #272728;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #525254;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5c5c5c;
}

.btn {
  height: 42px;
  white-space: nowrap;
  background-color: #000;
  border: none;
  font-family: Play;
  outline: none;
  padding: 0 50px;
  /* line-height: 42px; */
  font-size: 18px;
  border-radius: 3px;
  box-shadow: 0 0 10px 0px #38d6ae;
  text-shadow: 0 0 25px #36d6ae;
  color: #36d6ae;
  -webkit-text-stroke: 0.5px #36d6ae67;
}

.btn:hover {
  box-shadow: 0 0 6px 0px #38d6ae;
}

.btn:active {
  background-color: #3ab793;
  color: #fff;
  border: none;
  outline: none;
}

.btn:focus {
  border: none;
  outline: none;
}

.icons-size {
  height: 20px;
  transform: rotate(0deg);
  transition: transform 0.3s;
  margin-left: 2px;
}

.icons-size:hover {
  transform: rotate(360deg);
}

.icon-pie {
  fill: #fff;
  background-color: #fff;
}

.tooltip-text-deposit::after {
  width: 0;
  height: 0;
  border: 7px solid transparent;
  content: '';
  display: block;
  position: absolute;
  border-bottom-color: #3ab793;
  left: 40%;
  bottom: 17px;
}

.search-input {
  border-radius: 20px;
  border: none;
  color: #fff;
  padding: 5px 35px;
  box-sizing: border-box;
  outline: 0;
  outline-offset: 0;
  -moz-box-shadow: 0 0 6px 1px #3ab793;
  -webkit-box-shadow: 0 0 6px 1px #3ab793;
  box-shadow: 0 0 6px 1px #3ab793;
  caret-color: #36d6ae;
}

.search-input:focus {
  -webkit-app-region: no-drag;
  box-shadow: 0 0 8px 2px #3ab793 !important;
}

input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.resize-none {
  resize: none;
}

.minHeightTextarea {
  min-height: 42px !important;
}

.infinite-scroll-component {
  padding-top: 3px !important;
}

.padded-text {
  padding: 0.5rem;
}
