@font-face {
  font-family: 'Play';
  src: url('../fonts/Play-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

html {
  font-family: 'Play';
  font-size: 16px;
}

@media (width <= 580px) { 
  html {
    font-size: 14px;
  }
}

*:not(input):not(textarea) {
  text-transform: lowercase;
}

body {
  padding: 0;
  overflow-y: scroll; /* prevent content jumping when scroll appears */
  overflow-x: hidden;
  background-color: #000000;
  color: #fff;
  margin: 0 auto;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

button {
  cursor: pointer;
  border: unset;
  background-color: transparent;
}

button:disabled {
  cursor: not-allowed;
  color: darkgray;
}

a {
  color: #36d6ae;
  text-decoration: none;
}

a:hover {
  color: #00ffbf;
  text-decoration: none;
}

.block-body {
  width: calc(100% - 1em);
  /* min-height: calc(100vh - 190px); */
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  /* background: url("https://ipfs.io/ipfs/QmV2i3zrWF2ZzmKtzMFMFqyrAjadShFn5qwmU3ANv66BUY"); */
  /* background-position: top left !important; */
  /* background-size: cover !important; */
  /* background-repeat: no-repeat !important; */

  padding: 0 1em 135px 1em;
  position: relative;
  background-color: #000000;
}

ul {
  list-style-type: none;
}

textarea {
  font-size: 16px;
  background-color: #000;
  border: none;
  outline: none;
  caret-color: #3ab793;
  color: #3ab793;
  box-shadow: 0 0 2px 0.3px #3ab793;
  padding: 0 5px;
  border-radius: 3px;
  width: 100%;
  min-height: 70px;
}

textarea:focus {
  outline: none;
}

textarea:active {
  outline: none;
}

/* input {
  font-size: 16px;
  height: 30px;
  background-color: #000;
  border: none;
  outline: none;
  caret-color: #3ab793;
  color: #3ab793;
  box-shadow: 0 0 2px 0.3px #3ab793;
  padding: 0 5px;
  border-radius: 3px;
} */

input:focus {
  outline: none;
}

input:active {
  outline: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #3ab793;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #3ab793;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #3ab793;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #272728;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #525254;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5c5c5c;
}

.btn {
  height: 42px;
  white-space: nowrap;
  background-color: #000;
  border: none;
  font-family: Play;
  outline: none;
  padding: 0 50px;
  /* line-height: 42px; */
  font-size: 18px;
  border-radius: 3px;
  box-shadow: 0 0 10px 0px #38d6ae;
  text-shadow: 0 0 25px #36d6ae;
  color: #36d6ae;
  -webkit-text-stroke: 0.5px #36d6ae67;
}

.btn:hover {
  box-shadow: 0 0 6px 0px #38d6ae;
  opacity: 1;
}

.btn:active {
  background-color: #3ab793;
  color: #fff;
  border: none;
  outline: none;
}

.btn:focus {
  border: none;
  outline: none;
}

.icons-size {
  height: 20px;
  transform: rotate(0deg);
  transition: transform 0.3s;
  margin-left: 2px;
}

.icons-size:hover {
  transform: rotate(360deg);
}

.icon-pie {
  fill: #fff;
  background-color: #fff;
}

.tooltip-text-deposit::after {
  width: 0;
  height: 0;
  border: 7px solid transparent;
  content: '';
  display: block;
  position: absolute;
  border-bottom-color: #3ab793;
  left: 40%;
  bottom: 17px;
}

.search-input {
  border-radius: 20px;
  border: none;
  color: #fff;
  padding: 5px 35px;
  box-sizing: border-box;
  outline: 0;
  outline-offset: 0;
  -moz-box-shadow: 0 0 6px 1px #3ab793;
  -webkit-box-shadow: 0 0 6px 1px #3ab793;
  box-shadow: 0 0 6px 1px #3ab793;
  caret-color: #36d6ae;
}

.search-input:focus {
  -webkit-app-region: no-drag;
  box-shadow: 0 0 8px 2px #3ab793 !important;
}

input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.resize-none {
  resize: none;
}

.minHeightTextarea {
  min-height: 42px !important;
}

.padded-text {
  padding: 0.5rem;
}

select {
  width: 200px;
  height: 32px;
  background-color: #000;
  color: #38d6ae;
  font-size: 16px;
  outline: none;
  border: none;
  box-shadow: 0 0 2px #38d6ae;
  padding: 0 10px;
  margin: 0 15px;
}