.electricity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.electricity .line{
  width: 100%;
}

.electricity-svg {
  stroke: #3ab793;
  stroke-width: 5;
}

#electricityLineRect {
  fill: #000;
}

.btn-home {
  height: 42px;
  white-space: nowrap;
  background-color: #000;
  border: none;
  font-family: Play;
  outline: none;
  padding: 0 50px;
  /* line-height: 42px; */
  font-size: 18px;
  border-radius: 3px;
  box-shadow: 0 0 10px 0px #38d6ae;
  text-shadow: 0 0 25px #36d6ae;
  color: #36d6ae;
  -webkit-text-stroke: 0.5px #36d6ae67;
  transition: opacity 0.4s;
  position: absolute;
  transform: translate(-50%, -50%);
  margin-right: -50%;
  left: 50%;
  bottom: 0;
}

.btn-home:hover {
  box-shadow: 0 0 6px 0px #38d6ae;
}

.btn-home:active {
  background-color: #3ab793;
  color: #fff;
  border: none;
  outline: none;
}

.btn-home:focus {
  border: none;
  outline: none;
}

.box-shadow-input::after {
  box-shadow: -1px -1px 20px 20px #000000;
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  height: 50%;
  transform: translate(0, -50%);
}

.box-shadow-input::before {
  box-shadow: -1px -1px 20px 20px #000000;
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  height: 50%;
  transform: translate(0, -50%);
}