@import url('./libs/index.scss');

:root {
  // greens
  --primary-color: #36d6ae;
  --green-light: #76ff03;
  --green-2: #7afaa1;

  --blue: #000aff;
  --blue-light: #1fcbff;

  --yellow: #fcf000;

  --text-opacity-2: 0.7;
  --text-opacity-3: 0.7;
  --text-opacity-4: 0.38;
}

:export {
  primaryColor: var(--primary-color);
}
