:root {
  --primary-color: #36d6ae;

  --green-light: #76ff03;

  --yellow: #fcf000;
  --blue: #000aff;

  --text-opacity-2: 0.7;
  --text-opacity-3: 0.7;
  --text-opacity-4: 0.38;
}

:export {
  primaryColor: var(--primary-color);
}
