@import url('./libs/index.scss');

:root {
  // greens
  --primary-color: #36d6ae;
  --green-light: #76ff03;
  --green-2: #7afaa1;

  --blue: #000aff;
  --blue-light: #1fcbff;

  --yellow: #fcf000;

  --red: #FF5C00;

  --grayscale-disabled: #616161;
  --grayscale-dark: #808080;
  --grayscale-secondary: #C7C7C7;
  --grayscale-primary: #fff;

  --text-opacity-2: 0.7;
  --text-opacity-3: 0.7;
  --text-opacity-4: 0.38;
}

:export {
  primaryColor: var(--primary-color);
  greenLightColor: var(--green-light);
  redColor: var(--red);
}
