/* https://github.com/mac-s-g/react-json-view/issues/443 */

@import './libs//rjsf.css';

.react-json-view {
  overflow-x: auto;
}

.infinite-scroll-component {
  padding-top: 3px !important;
  overflow: unset !important;
}
