@mixin tableHover {
  background: linear-gradient(
    90deg,
    rgba(54, 214, 174, 0.15) -3.3%,
    rgba(54, 214, 174, 0.072) 32.75%,
    rgba(54, 214, 174, 0.0765) 62.88%,
    rgba(54, 214, 174, 0.15) 100%
  );
}

@mixin withShareIcon {
  background-image: url('images/share.svg');
  background-repeat: no-repeat;
  background-position: right 1.5px;
  background-size: 20px;
  padding-right: 25px;
}

@mixin blueScroll {
  &::-webkit-scrollbar-thumb {
    background: var(--blue-light);
  }
  &::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }
}
