.containerText {
  font-size: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  .icon {
    margin-left: 5px;
    margin-top: 5px;
  }
}

.svgWrap {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 200px;
    border-radius: 50%;
    transform: rotate(-90deg);

    circle {
      fill: none;
      r: 20px;
      cx: 20px;
      cy: 20px;
      stroke-width: 5;
    }

    .svgBackground {
      stroke: #97979775;
    }

    .svgCalc {
      stroke: #3ab793;
    }
  }

  .svgValue {
    position: absolute;
    font-weight: 500;

    &:after {
      content: '%';
    }
  }
}
