.keywordBtn {
  color: var(--blue-light);
  font-size: 20px;
  padding: 3px 15px;
  text-align: center;
  // display: inline-block;
  opacity: 0.7;

  border-radius: 15px;
  border: 1px solid rgba(31, 203, 255, 0.2);

  &:hover {
    color: var(--blue-light);
    opacity: 1;
  }
}
