.wrapper {
  display: flex;
  align-items: center;
}

.packageImg {
  $size: 65px;

  width: $size;
  height: $size;
  object-fit: fill;
}

.packageName {
  --color-plan: #fff;

  color: var(--color-plan);

  &.green {
    --color-plan: #76FF03;
  }

  &.blue {
    --color-plan: #00C4FF;
  }

  &.purple {
    --color-plan: #F62BFD;
  }

}