.containerValue {
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 18px;
  // margin-bottom: 10;
}

.containerTextLink {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.containerText {
  font-size: 16px;
  color: #ffffffb3;
  font-weight: 600;
  display: flex;
}

.containerIcon {
  margin-left: 5px;
  
}
