.containerValue {
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 18px;
}

.containerTextLink {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.containerText {
  font-size: 16px;
  color: #ffffffb3;
  font-weight: 600;
  display: flex;
}

.containerIcon {
  margin-left: 5px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px 0;
}

.containerStatistics {
  display: flex;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  width: 100%;
  /* align-items: center; */
  margin-bottom: 20px;
}