.wrapper {
  font-size: 20px;

  // render to prevent jumps
  min-height: 25px;

  strong {
    color: var(--green-light);
  }

  .change {
    color: rgba(221, 255, 255, 0.38);
    display: inline;

    strong {
      color: #fff;
    }
  }
}
