$linear-gradient-blue: linear-gradient(
  180deg,
  rgba(0, 0, 0, 0) -3.3%,
  rgba(31, 203, 255, 0.35) 100%
);
$color-border-botton-blue: #00edeb;

.ButtonIconNetwork {
  background-color: transparent;
  border: none;
  outline: none;
  position: relative;
  width: 30px;
  height: 47px;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  img {
    height: 25px;
    object-fit: cover;
    // margin-bottom: 10px;
  }

  .IconHome {
    height: 25px;
    width: 25px;
    object-fit: unset;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 6px);
  }

  .textboxFace {
    position: absolute;
    background: $linear-gradient-blue;
    left: 0;
    z-index: -1;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  .textboxBottomGradient {
    height: 15px;
    width: 100%;
    bottom: 2px;
    transform-origin: 50% 100%;
    transform: perspective(100px) rotateX(0deg);
  }

  .textboxBottomLine {
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    bottom: 0;
    transform-origin: 50% 0;
    border: 1px solid $color-border-botton-blue;
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: 0px 0px 6px 2px rgba(31, 203, 255, 0.53);
  }
}
