.wrapper {
  display: flex;
  align-content: stretch;

  max-height: 80vh;

  > :nth-child(2) {
    flex: 1;
    position: relative;
    left: -2px;

    // Display
    > div {
      height: 100%;
    }
  }
}
