.main {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  padding: 10px 10px;
  backdrop-filter: blur(15px);
  pointer-events: auto;

  > span {
    font-size: 14px;
    color: white;

    &:last-of-type {
      font-size: 16px;
    }
  }

  &:hover {
    transition: all 0.3s;
    background-color: #74ff00;

    span {
      color: #74ff00;
    }
  }
}

.sense {
  flex-direction: column;
  border-radius: 0px 15px 15px 0px;
  background: linear-gradient(
    to right,
    black 93%,
    rgba(255, 255, 255, 0.5) 100%
  );

  &:hover {
    padding-right: 20px;
  }
}

.sense div {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.hydrogen {
  background: linear-gradient(
    to left,
    black 93%,
    rgba(255, 255, 255, 0.5) 100%
  );
  border-radius: 15px 0px 0px 15px;
  &:hover {
    padding-left: 20px;
  }
}

.hydrogen div {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
