.main {
  display: flex;
  position: fixed;
  z-index: 3;
  top: 45%;
  transform: translateY(-50%);
  padding: 40px 10px;
  backdrop-filter: blur(15px);
  border-radius: 50px;

  > span {
    font-size: 14px;
    margin-top: 5px;
    color: white;

    &:last-of-type {
      margin-top: 4px;
      font-size: 16px;
    }
  }

  &:hover {
    transition: all 0.3s;
    background-color: var(--green-light);

    span {
      color: var(--green-light);
    }
  }
}

.sense {
  flex-direction: column;
  padding-left: 3px;
  background: linear-gradient(
    to right,
    black 90%,
    rgba(255, 255, 255, 0.5) 100%
  );

  &:hover {
    padding-right: 30px;
  }
}

.hydrogen {
  right: 0;
  align-items: center;
  background: linear-gradient(
    to left,
    black 90%,
    rgba(255, 255, 255, 0.5) 100%
  );

  &:hover {
    padding-left: 30px;
  }
}

.hydrogen div {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
