$color-white: #fff;
$color-shadow-lamp-green: rgba(54, 214, 174, 0.5);
$color-shadow-lamp-white: rgba(255, 255, 255, 0.44);
$color-border-lamp-green: #00edeb;
$color-border-lamp-white: #e2e2e2;

$color-shadow-lamp-blue: rgba(36, 189, 219, 0.705);
$color-border-lamp-blue: var(--blue-light);

@mixin linear-gradient-gray-el {
  content: '';
  height: 100%;
  position: absolute;
  width: 10%;
  bottom: 0;
  opacity: 11%;
}

@mixin init-pseudo-el-gren-default {
  content: '';
  height: 100%;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  opacity: 11%;
}

@mixin linear-gradient-green($route) {
  background: linear-gradient(
    $route,
    rgba(0, 237, 235, 0) 0%,
    rgba(0, 237, 235, 1) 100%
  );
}

@mixin linear-gradient-gray($route) {
  background: linear-gradient(
    $route,
    rgba(217, 217, 217, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

@mixin light-lamp($color-bgr, $color-border, $color-shadow) {
  background: $color-bgr;
  border: 0.5px solid $color-border;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 1px $color-shadow;
}

@mixin pils {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #d8d8d8;
  box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 0.39);
}

.carousel {
  width: 100%;
  overflow-x: hidden;
  height: 40px;

  &.disableMode {
    .slide {
      cursor: unset !important;
    }
  }

  .slidesContainer {
    height: 100%;
    // overflow: hidden;
    position: relative;
  }
  .slides {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;

    .slide {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      color: var(--primary-color);

      &::before {
        @include linear-gradient-gray-el;
        @include linear-gradient-green(270deg);
        left: 0;
      }
      &::after {
        @include linear-gradient-gray-el;
        @include linear-gradient-green(90deg);
        right: 0;
      }
    }

    .slide.active {
      color: $color-white !important;
      &::before {
        @include linear-gradient-gray-el;
        @include linear-gradient-gray(270deg);
        left: 0;
      }
      &::after {
        @include linear-gradient-gray-el;
        @include linear-gradient-gray(90deg);
        right: 0;
      }
    }

    .slide.left {
      &::before {
        @include init-pseudo-el-gren-default;
        @include linear-gradient-green(90deg);
      }

      &::after {
        content: '';
        background: #000;
        width: 10px;
        left: -5px;
        z-index: 1;
        opacity: 1;
        bottom: 0;
        position: absolute;
        height: 100%;
      }
    }
    .slide.right {
      &::before {
        @include init-pseudo-el-gren-default;
        @include linear-gradient-green(270deg);
      }
      &::after {
        content: '';
        background: #000;
        width: 10px;
        right: -5px;
        z-index: 1;
        opacity: 1;
        bottom: 0;
        position: absolute;
        height: 100%;
      }
    }

    .containerContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      font-size: 16px;
    }

    .lamp.active {
      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;

        @include light-lamp(
          $color-white,
          $color-border-lamp-green,
          $color-shadow-lamp-green
        );
      }
      &::before {
        left: 0;
        border-radius: 0px 1px 1px 0px;
      }

      &::after {
        right: 0;
        border-radius: 1px 0px 0px 1px;
      }
    }

    .lamp.left {
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 6px;
        transform: translate(6px, -50%);
        @include pils;

        @media (max-width: 768px) {
          content: unset;
        }
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        @include light-lamp(
          $color-white,
          $color-border-lamp-green,
          $color-shadow-lamp-green
        );
        border-radius: 1px 0px 0px 1px;
      }
    }

    .lamp.right {
      &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        @include light-lamp(
          $color-white,
          $color-border-lamp-green,
          $color-shadow-lamp-green
        );
        border-radius: 0px 1px 1px 0px;
      }

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 6px;
        transform: translate(-6px, -50%);
        @include pils;

        @media (max-width: 768px) {
          content: unset;
        }
      }
    }
  }
}
.transition {
  transition: ease all 0.5s;
}

.color_ {
  &blue {
    .slide {
      color: var(--blue-light) !important;
    }

    .slides {
      .lamp {
        &.active {
          &::before,
          &::after {
            @include light-lamp(
              $color-white,
              $color-border-lamp-blue,
              $color-shadow-lamp-blue
            );
          }
        }

        &.left {
          &::after {
            @include light-lamp(
              $color-white,
              $color-border-lamp-blue,
              $color-shadow-lamp-blue
            );
          }
        }

        &.right {
          &::before {
            @include light-lamp(
              $color-white,
              $color-border-lamp-blue,
              $color-shadow-lamp-blue
            );
          }
        }
      }
    }
  }
}
