.containerMemo {
  color: #fff;
  text-align: end;

  &Start {
    text-align: start;
  }
}

.containerAmountTime {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.amountDenomContainer {
  color: var(--green-light);

  &Red {
    color: var(--red);
  }
}

.cidText {
  text-transform: none;
}