$icon-size: 30px;

.subMenu {
  // position: absolute;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@mixin active-el() {
  content: '';
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #4ed6ae;
  filter: blur(0.7px);
  box-shadow: 3px 0px 20px 1.5px #4ed6ae;
  position: absolute;
}

.navLinkItem {
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 10px;
  align-items: center;
  padding-left: 20px;
  font-size: 18px;
  // >div {
  //   align-items: center;
  //   flex-shrink: 0;
  // }

  position: relative;

  color: #777777;

  .icon {
    width: $icon-size;
    height: $icon-size;
    object-fit: contain;
  }

  .nameApp {
    white-space: nowrap;
  }

  &.active {
    color: #fff;

    &::before {
      @include active-el();
    }
  }
}
