$mobile-breakpoint: 480px;

:export {
  mobileBreakpoint: $mobile-breakpoint;
}

.wrapper {
  display: flex;
  flex-direction: column;

  padding: 0 10px;

  @media (width <= $mobile-breakpoint) {
    // for graph out screen position
    overflow-x: hidden;
    padding: 0 50px;

    .actionBarBtn {
      min-width: 107px;
    }
  }

  --graph-size: 33vw;
}

.starsWrapper {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.header {
  gap: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media (width <= $mobile-breakpoint) {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);

    > :nth-child(2) {
      order: 1;
      grid-column: span 2;
    }
  }
}

.info {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  position: relative;

  &::before {
    content: '';
    position: absolute;

    margin-top: auto;
    height: 50%;
    z-index: -1;
    filter: blur(20px);

    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 3.92%,
      rgba(31, 203, 255, 0.2) 40.95%,
      rgba(31, 203, 255, 0.2) 68.97%,
      rgba(0, 0, 0, 0) 100%
    );

    @keyframes slide {
      from {
        left: 0;
        right: 0;
      }

      to {
        left: 150px;
        right: 150px;
      }
    }

    animation: slide 6s infinite alternate;
  }

  gap: 0 3vw;
  display: flex;
  align-items: center;
  position: relative;

  .title,
  .title .keyword,
  .particles > * {
    font-weight: 400;
    font-size: clamp(20px, 3vw, 36px);
    text-shadow: 0px 0px 15px var(--blue-light);
  }

  .title,
  .particles {
    flex: 1;
  }

  .title {
    text-align: right;

    .keyword {
      color: var(--blue-light);
    }

    .lastTextBlock {
      width: 100%;
      display: inline-block;
    }

    @media ($mobile-breakpoint <= width <= 680px) {
      .keyword {
        display: inline-block;
        // to wrap to new line
        width: 50%;
      }

      .lastTextBlock {
        display: inline;
      }
    }
  }

  .particles {
    white-space: nowrap;
    span:first-of-type {
      color: var(--green-light);
    }
  }

  .graphWrapper {
    position: relative;

    width: var(--graph-size);
    height: var(--graph-size);
    background-color: black;

    overflow: hidden;
    box-shadow: 0px 0px 5px 1px rgba(31, 203, 255, 0.3),
      0px 0px 42px 0px rgba(31, 203, 255, 0.42);

    &,
    &::after {
      border-radius: 50%;
    }

    &::after {
      content: '';
      position: absolute;
      pointer-events: none;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      box-shadow: inset 0 0 50px 20px black;
    }
  }

  @media (width <= $mobile-breakpoint) {
    display: unset;

    .title {
      &,
      > * {
        font-size: 26px !important;
      }

      .lastTextBlock {
        width: 100%;
        display: inline-block;
      }

      min-width: unset;
    }

    .graphWrapper {
      position: absolute;

      left: calc(-50px + 100vw - (330px * 0.44));
      top: 60px;
    }

    .particles {
      display: none;
    }
  }
}

.advantages {
  display: grid;
  margin: -40px auto 0;
  gap: 0px 5vw;

  grid-template-columns: repeat(3, minmax(0, 33%));
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
  justify-items: center;

  li {
    width: 188px;
    min-height: 70px;

    animation: appear 3s;

    @keyframes appear {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }

  li:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  li:nth-child(2) {
    margin-top: -30px;
    grid-column: 2 /3;
    grid-row: 2;
  }

  li:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 1;
  }

  @media (width <= $mobile-breakpoint) {
    margin: 20px 0 0 !important;

    display: flex;
    flex-direction: column;
    gap: 20px 0;

    li:nth-child(2) {
      margin-top: unset;
    }
  }
}
