.senseBtn {
  display: flex;
  flex-direction: column;
  padding-left: 3px;

  > span {
    &:not(:last-child) {
      font-size: 5px;
    }
    margin-top: 5px;
    color: white;
  }

  &:hover {
    span {
      color: var(--primary-color);
    }
  }
}
