.containerBtnItemSelect {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 25px;
  align-items: center;
  height: 100px;
  border: none;
  background: transparent;
  color: rgb(31, 203, 255);
  margin-top: -10px;
  cursor: pointer;

  &:hover {
    .networkBtn {
      &::before {
        width: 105px;
        height: 105px;
      }
    }

    .networkBtnImg {
      width: 65px;
      height: 65px;
    }

    .containerBtnItemSelectText {
      transform: translateX(5px);
    }
  }
}

.networkBtn {
  border: none;
  background: transparent;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &::before {
    content: '';
    width: 100px;
    height: 100px;
    background: #000000;
    box-shadow: 0px 0px 20px rgba(31, 203, 255, 0.4);
    position: absolute;
    border-radius: 50%;
    // z-index: -1;
    display: flex;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    transition: 0.2s;
  }
}

.networkBtnImg {
  width: 60px;
  height: 60px;
  position: relative;
}

.networkBtnImgIconMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.2s;
  transform: translate(-50%, -50%) rotate(-90deg);

  &Close {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }
}

.btnContainerText {
  border: none;
  font-size: 16px;
  background: transparent;
  color: rgb(31, 203, 255);
  cursor: pointer;
}

.btnContainerTextHover {
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
}

.containerInfoSwitch {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  gap: 10px;
  color: var(--blue-light);
}

.containerInfoSwitchGapUnSet {
  gap: unset;
}

.containerBandwidthBar {
  width: 100%;
}

.containerSwichNetworkList {
  display: flex;
  flex-direction: column;
  background: #0000008c;
  padding-left: 15px;
  width: 250px;
  padding-bottom: 15px;
  // opacity: 0;
  transition: 0.2s;
  backdrop-filter: blur(7px);

  &entering {
    opacity: 0;
  }

  &entered {
    opacity: 1;
  }

  &exiting {
    opacity: 0;
    transition: 0.1s;
  }

  &exited {
    opacity: 0;
    visibility: hidden;
    height: 1px;
  }
}

@media (max-width: 768px) {
  .networkBtn {
    &::before {
      width: 60px;
      height: 60px;
    }
  }

  .networkBtnImg {
    width: 40px;
    height: 40px;
  }

  .networkBtnImgIconMenu {
    div {
      width: 25px;
      height: 3px;
      margin: 4px 0;
    }
  }
}

.tooltipContainer {
  position: absolute;
  left: 0px;
  top: 130px;
  z-index: 3;
}

.networkBtnImg {
  width: 60px;
  height: 60px;
  position: relative;
  transition: 0.2s;
}

.buttonWrapper {
  display: grid;
  gap: 25px;
  grid-template-columns: 100px 1fr;
  align-items: center;
  height: 100px;

  @media (width < 768px) {
    grid-template-columns: 100px;
  }

}

.buttonWrapper {
  @media (max-width: 480px) {
    height: unset !important;
    grid-template-columns: unset !important;
  }
}

.containerSubItems {
  display: flex;
  flex-direction: column;
  background: #0000008c;
  width: 250px;
  backdrop-filter: blur(7px);
}