@import 'src/style/mixins';

// TODO: FIXME: reuse styles from senseItem
.btn {
  display: grid;
  width: 100%;
  grid-template-columns: auto 1fr;
  padding: 10px;
  gap: 0 20px;
  min-height: 70px;

  div {
    border-radius: 50%;
    border: 1px solid var(--blue-light);
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: span 2;
    color: var(--blue-light);
    font-weight: 500;
    font-size: 40px;
  }

  h3 {
    font-size: 16px;
  }

  h3,
  p {
    grid-column: 2;
    font-size: 15px;
    text-align: left;
  }

  p {
    color: rgb(255 255 255 / 50%);

    // color: var(--grayscale-secondary);
  }

  &:hover {
    @include tableHover;
  }
}
