.btnContainerBtnArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  background: transparent;
  position: relative;

  &Img {
    width: 8px;
    height: 8px;
    object-fit: contain;
    transition: 0.5s;

    &:hover {
      opacity: 0.8;
    }

    &Open {
      transform: rotate(90deg);
    }
  }
}
