.milkdown {
    min-height: 200px;
    border: 1px solid #808080;
    padding: 5px;
}

.milkdown * {
  text-transform: none;
}

.milkdown blockquote {
  margin: 10px 0;
  padding: 10px 5px 10px 20px;
  border-left: 3px solid #3ab793e3;
}