.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -2px;
}

.left,
.right {
  position: absolute;
  z-index: 1;
  padding: 10px;
  top: calc(45% - (40px / 2));

  // border: 1px solid red;

  // background-color: rgba(0, 17, 22, 0.37);
  // filter: drop-shadow(0px 0px 10px rgba(0, 196, 255, 0.1));
  // backdrop-filter: blur(15px);
}

.left {
  right: 85%;
  display: flex;
  align-items: center;
  gap: 0 10px;
  font-size: 14px;

  span:nth-of-type(1) {
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.5);
  }
}

.right {
  padding-top: 15px;
  left: 85%;
}
