.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;

  min-width: 320px;
  max-width: 680px;
}

.left,
.right {
  position: absolute;
  z-index: 1;
  padding: 10px;
  top: calc(45% - (40px / 2));
}

.left {
  right: 100%;
  display: flex;
  align-items: center;
  gap: 7px 10px;
  font-size: 14px;
}

.right {
  padding-top: 15px;
  left: 100%;
}

.searchItem {
  display: block;
  width: 100%;
}
