.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.left,
.right {
  position: absolute;
  z-index: 1;
  padding: 10px;
  top: calc(45% - (40px / 2));
}

.left {
  right: 85%;
  display: flex;
  align-items: center;
  gap: 7px 10px;
  font-size: 14px;

  span:nth-of-type(1) {
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.5);
  }
}

.right {
  padding-top: 15px;
  left: 85%;
}

.rank {
  svg {
    width: 21px;
    height: 21px;
  }

  &.rankSelected,
  &:hover {
    svg {
      fill: #f62bfd;
    }
  }
}
