@mixin linear-gradient-green($route) {
  background: linear-gradient(
    $route,
    rgba(0, 0, 0, 0) 0%,
    rgba(54, 214, 174, 1) 100%
  );
}

@mixin linear-gradient-pink($route) {
  background: linear-gradient(
    $route,
    rgba(0, 0, 0, 0) 0%,
    rgba(246, 43, 253, 1) 100%
  );
}

@mixin linear-gradient-blue($route) {
  background: linear-gradient(
    $route,
    rgba(0, 0, 0, 0) 0%,
    rgba(31, 203, 255, 1) 100%
  );
}

@mixin linear-gradient-grey($route) {
  background: linear-gradient(
    $route,
    rgba(0, 0, 0, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

@mixin linear-gradient-yellow($route) {
  background: linear-gradient(
    $route,
    rgba(0, 0, 0, 0) -3.3%,
    rgba(255, 217, 0, 1) 100%
  );
}

@mixin linear-gradient-danger($route) {
  background: linear-gradient(
    $route,
    rgba(0, 0, 0, 0) -3.3%,
    rgb(255, 0, 0) 100%
  );
}

@mixin linear-gradient-purple($route) {
  background: linear-gradient(
    $route,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 10, 255, 1) 100%
  );
}

@mixin styleGradientPseudoEl {
  content: '';
  position: absolute;
  height: 100%;
  width: 100px;
  top: 0;
  bottom: 0;
}

.containerContainerGradient {
  width: 100%;
  min-height: 50px;
  position: relative;
  padding: 0px;

  &Primary {
    &::after {
      opacity: 11%;
      @include styleGradientPseudoEl;
      @include linear-gradient-blue(90deg);
      right: 0;
    }
  }

  &Danger {
    &::after {
      opacity: 11%;
      @include styleGradientPseudoEl;
      @include linear-gradient-danger(90deg);
      right: 0;
    }
  }

  &Purple {
    &::after {
      opacity: 11%;
      @include styleGradientPseudoEl;
      @include linear-gradient-purple(90deg);
      right: 0;
    }
  }

  &Green {
    &::after {
      opacity: 11%;
      @include styleGradientPseudoEl;
      @include linear-gradient-green(90deg);
      right: 0;
    }
  }

  &Title {
    min-height: 50px;
    font-size: 18px;
    display: flex;
    align-items: center;
    position: relative;
    margin: 0px;
    padding: 15px;
    cursor: pointer;

    &Primary {
      &::before {
        opacity: 14%;
        @include styleGradientPseudoEl;
        @include linear-gradient-grey(-90deg);
        left: 0;
      }
    }

    &Danger {
      &::before {
        opacity: 11%;
        @include styleGradientPseudoEl;
        @include linear-gradient-danger(-90deg);
        left: 0;
      }
    }

    &Green {
      &::before {
        opacity: 11%;
        @include styleGradientPseudoEl;
        @include linear-gradient-green(-90deg);
        left: 0;
      }
    }

    &Content {
      display: flex;
      align-items: center;
      min-height: 32px;
      line-height: 25px;
      width: 100%;
      transition: 1.5s ease-in-out;
      opacity: 0;

      &entering {
        opacity: 0;
        transition: 1ms ease-in-out;
      }

      &entered {
        opacity: 1;
      }

      &exiting {
        opacity: 0;
        transition: 1ms ease-in-out;
      }

      &exited {
        opacity: 1;
      }
    }
  }

  &Content {
    position: relative;
    margin: 0px;
    padding: 17px 15px;
    min-height: 170px;
    height: 1px;
    z-index: 1;
    transition: 1s ease-in-out;

    &entering {
      opacity: 0;
    }

    &entered {
      opacity: 1;
      padding: 17px 15px;
      height: 1px;
      min-height: 170px;
    }

    &exiting {
      opacity: 0;
      transition: 0.5s ease-in-out;
    }

    &exited {
      opacity: 0;
      padding: 0px;
      height: 0px !important;
      min-height: 0px;
      visibility: hidden;
    }

    &Primary {
      &::before {
        opacity: 11%;
        @include styleGradientPseudoEl;
        @include linear-gradient-blue(-90deg);
        left: 0;
        z-index: -1;
      }
    }

    &Danger {
      &::before {
        opacity: 11%;
        @include styleGradientPseudoEl;
        @include linear-gradient-danger(-90deg);
        left: 0;
        z-index: -1;
      }
    }

    &Purple {
      &::before {
        opacity: 11%;
        @include styleGradientPseudoEl;
        @include linear-gradient-purple(-90deg);
        left: 0;
        z-index: -1;
      }
    }

    &Green {
      &::before {
        opacity: 11%;
        @include styleGradientPseudoEl;
        @include linear-gradient-green(-90deg);
        left: 0;
        z-index: -1;
      }
    }
  }
}

@mixin ion-lamp {
  content: '';
  position: absolute;
  background: #ffffff;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  // box-shadow: 0px 0px 6px 2px rgba(255, 255, 255, 0.3);
  // box-shadow: -3px 0 20px 1.5px rgba(31, 203, 255, 0.7);
  top: 0;
  bottom: 0;
}

.wrapContainerLamp {
  position: relative;

  &Default {
    &::before {
      @include ion-lamp;
      left: 0;
      // border-radius: 2px 0px 0px 2px;
      box-shadow: -3px 0 20px 1.5px rgba(255, 255, 255, 0.7);
    }

    &::after {
      @include ion-lamp;
      right: 0;
      // border-radius: 0px 2px 2px 0px;
      box-shadow: 3px 0 20px 1.5px rgba(255, 255, 255, 0.7);
    }
  }

  &Red {
    &::before {
      @include ion-lamp;
      // border-radius: 0px 0px 0px 2px;
      box-shadow: -3px 0 20px 1.5px rgba(255, 0, 0, 0.7);
      left: 0;
    }

    &::after {
      @include ion-lamp;
      right: 0;
      // border-radius: 0px 2px 2px 0px;
      box-shadow: 3px 0 20px 1.5px rgba(255, 0, 0, 0.7);
    }
  }
  &Green {
    &::before {
      @include ion-lamp;
      // border-radius: 0px 0px 0px 2px;
      box-shadow: -3px 0 20px 1.5px rgba(54, 214, 174, 0.7);
      left: 0;
    }
    &::after {
      @include ion-lamp;
      right: 0;
      // border-radius: 0px 2px 2px 0px;
      box-shadow: 3px 0 20px 1.5px rgba(54, 214, 174, 0.7);
    }
  }
  &Blue {
    &::before {
      @include ion-lamp;
      // border-radius: 0px 0px 0px 2px;
      box-shadow: -3px 0 20px 1.5px rgba(31, 203, 255, 0.7);
      left: 0;
    }
    &::after {
      @include ion-lamp;
      right: 0;
      // border-radius: 0px 2px 2px 0px;
      box-shadow: 3px 0 20px 1.5px rgba(31, 203, 255, 0.7);
    }
  }
  &Yellow {
    &::before {
      @include ion-lamp;
      // border-radius: 0px 0px 0px 2px;
      box-shadow: -3px 0 20px 1.5px rgba(255, 217, 0, 0.7);
      left: 0;
    }
    &::after {
      @include ion-lamp;
      right: 0;
      // border-radius: 0px 2px 2px 0px;
      box-shadow: 3px 0 20px 1.5px rgba(255, 217, 0, 0.7);
    }
  }

  &Purple {
    &::before {
      @include ion-lamp;
      // border-radius: 0px 0px 0px 2px;
      box-shadow: -3px 0 20px 1.5px rgba(0, 10, 255, 0.65);
      left: 0;
    }
    &::after {
      @include ion-lamp;
      right: 0;
      // border-radius: 0px 2px 2px 0px;
      box-shadow: 3px 0 20px 1.5px rgba(0, 10, 255, 0.65);
    }
  }

  &Pink {
    &::before {
      @include ion-lamp;
      // border-radius: 0px 0px 0px 2px;
      box-shadow: -3px 0 20px 1.5px rgba(246, 43, 253, 0.5);;
      left: 0;
    }
    &::after {
      @include ion-lamp;
      right: 0;
      // border-radius: 0px 2px 2px 0px;
      box-shadow: 3px 0 20px 1.5px rgba(246, 43, 253, 0.5);;
    }
  }
}

.wrapContainerLampBefore {
  position: relative;

  &Default {
    &::before {
      @include ion-lamp;
      border-radius: 2px 0px 0px 0px;
      box-shadow: -3px 0 20px 1.5px rgba(255, 255, 255, 0.7);
      left: 0;
    }
  }
  &Red {
    &::before {
      @include ion-lamp;
      // border-radius: 0px 0px 0px 2px;
      box-shadow: -3px 0 20px 1.5px rgba(255, 0, 0, 0.7);
      left: 0;
    }
  }
  &Green {
    &::before {
      @include ion-lamp;
      // border-radius: 0px 0px 0px 2px;
      box-shadow: -3px 0 20px 1.5px rgba(54, 214, 174, 0.7);
      left: 0;
    }
  }
  &Blue {
    &::before {
      @include ion-lamp;
      // border-radius: 0px 0px 0px 2px;
      box-shadow: -3px 0 20px 1.5px rgba(31, 203, 255, 0.7);
      left: 0;
    }
  }
  &Yellow {
    &::before {
      @include ion-lamp;
      // border-radius: 0px 0px 0px 2px;
      box-shadow: -3px 0 20px 1.5px rgba(255, 217, 0, 0.7);
      left: 0;
    }
  }
  &Purple {
    &::before {
      @include ion-lamp;
      // border-radius: 0px 0px 0px 2px;
      box-shadow: -3px 0 20px 1.5px rgba(0, 10, 255, 0.65);
      left: 0;
    }
  }
}

.wrapContainerLampAfter {
  position: relative;

  &Default {
    &::after {
      @include ion-lamp;
      border-radius: 0px 2px 2px 0px;
      box-shadow: 3px 0 20px 1.5px rgba(255, 255, 255, 0.7);
      right: 0;
    }
  }
  &Red {
    &::after {
      @include ion-lamp;
      border-radius: 0px 2px 2px 0px;
      box-shadow: 3px 0 20px 1.5px rgba(255, 0, 0, 0.7);
      right: 0;
    }
  }
  &Green {
    &::after {
      @include ion-lamp;
      border-radius: 0px 2px 2px 0px;
      box-shadow: 3px 0 20px 1.5px rgba(54, 214, 174, 0.7);
      right: 0;
    }
  }
  &Blue {
    &::after {
      @include ion-lamp;
      border-radius: 0px 2px 2px 0px;
      box-shadow: 3px 0 20px 1.5px rgba(31, 203, 255, 0.7);
      right: 0;
    }
  }
  &Yellow {
    &::after {
      @include ion-lamp;
      border-radius: 0px 2px 2px 0px;
      box-shadow: 3px 0 20px 1.5px rgba(255, 217, 0, 0.7);
      right: 0;
    }
  }
  &Purple {
    &::after {
      @include ion-lamp;
      border-radius: 0px 2px 2px 0px;
      box-shadow: 3px 0 20px 1.5px rgba(0, 10, 255, 0.65);
      right: 0;
    }
  }
}

.containerTxs {
  width: 100%;
  padding: 15px;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 15px;

  &TxHash {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
  }

  &RawLog {
    position: relative;
    z-index: 1;
  }

  &Confirmed {
    position: relative;

    &::before {
      @include styleGradientPseudoEl;
      @include linear-gradient-green(-90deg);
      left: 0;
      opacity: 11%;
    }

    &::after {
      @include styleGradientPseudoEl;
      @include linear-gradient-green(90deg);
      right: 0;
      opacity: 11%;
    }
  }
  &Pending {
    position: relative;

    &::before {
      @include styleGradientPseudoEl;
      @include linear-gradient-yellow(-90deg);
      left: 0;
      opacity: 12%;
    }

    &::after {
      @include styleGradientPseudoEl;
      @include linear-gradient-yellow(90deg);
      right: 0;
      opacity: 12%;
    }
  }

  &Danger {
    position: relative;

    &::after {
      @include styleGradientPseudoEl;
      @include linear-gradient-danger(90deg);
      right: 0;
      opacity: 11%;
    }

    &::before {
      @include styleGradientPseudoEl;
      @include linear-gradient-danger(-90deg);
      left: 0;
      opacity: 11%;
    }
  }
}

.containerGradientText {
  width: 100%;
  min-height: 50px;
  position: relative;
  padding: 0px 5px;
  height: 100%;

  &Primary {
    &::after {
      @include styleGradientPseudoEl;
      @include linear-gradient-blue(90deg);
      right: 0;
      opacity: 11%;
    }

    &::before {
      @include styleGradientPseudoEl;
      @include linear-gradient-blue(-90deg);
      left: 0;
      opacity: 11%;
    }
  }

  &Danger {
    &::after {
      @include styleGradientPseudoEl;
      @include linear-gradient-danger(90deg);
      right: 0;
      opacity: 11%;
    }

    &::before {
      @include styleGradientPseudoEl;
      @include linear-gradient-danger(-90deg);
      left: 0;
      opacity: 11%;
    }
  }

  &Green {
    &::after {
      @include styleGradientPseudoEl;
      @include linear-gradient-green(90deg);
      opacity: 11%;
      right: 0;
    }

    &::before {
      @include styleGradientPseudoEl;
      @include linear-gradient-green(-90deg);
      opacity: 11%;
      left: 0;
    }
  }

  &Pink {
    &::after {
      @include styleGradientPseudoEl;
      @include linear-gradient-pink(90deg);
      right: 0;
      opacity: 11%;
    }

    &::before {
      @include styleGradientPseudoEl;
      @include linear-gradient-pink(-90deg);
      left: 0;
      opacity: 11%;
    }
  }

  &Content {
    position: relative;
    margin: 0px -5px;
    padding: 15px;
    z-index: 1;
  }
}
