.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  color: #FFF;
  text-shadow: 0px 0px 5px var(--primary-color);
  font-size: 20px;
  font-weight: 400;

}

.subTitle {
  font-size: 14px;
  color: #ffffff80;
  line-height: 19px;
}