.wrapper {
  > div {
    // for chooser
    z-index: 1;
  }
}

.chooser {
  margin-left: 15px;

  > * {
    width: 380px;
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & + .item {
    margin-top: 20px;
  }
}
