.containerRouteAddress {
  display: flex;
  align-items: center;

  .fromToIbcImg {
    width: 40px;
    height: 30px;
    margin-left: -10px;
    z-index: -1;
  }

  .containerAddressChainId {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;

    &MarginLeft {
      margin-left: -5px;
    }
  }
}

.containerTypeTsx {
  display: flex;
  gap: 5px;

  img {
    width: 20px;
    height: 20px;
  }
}

.AddressIbc {
  color: #fff;
}