.containerChartTotal {
  display: flex;
  width: 100%;
  height: 3px;
  position: relative;
  border-radius: 2px;
  overflow: hidden;


  &Liquid {
    background-color: #00e5ff;
    height: inherit;
  }

  &Frozen {
    background-color: #1de9b6;
    height: inherit;
  }

  &Melting {
    background-color: #2979ff;
    height: inherit;
  }

  &Growth {
    background-color: #76ff03;
    height: inherit;
  }

  &Commission {
    background-color: #ffea00;
    height: inherit;
  }
}
