.containerChartTotal {
  display: flex;
  width: 100%;
  height: 3px;
  position: relative;
  border-radius: 2px;
  overflow: hidden;

  > div {
    height: inherit;
  }

  &Liquid {
    background-color: var(--yellow);
  }

  &Frozen {
    background-color: #00e5ff;
  }

  &Melting {
    background-color: #2979ff;
  }

  &Growth {
    background-color: #76ff03;
  }

  &Commission {
    background-color: purple;
  }
}
