.containetAvatar {
  width: 120px;
  height: 120px;
  border: 1px solid #36d6ae;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: -30px;
  right: 15px;
  color: #36d6ae;

  img {
    position: absolute;
    margin-right: -50%;
    transform: translate(-50%, 0);
    right: 50%;
    left: 50%;
    padding: 2px;
  }
}

.imgAvatar {
  object-fit: cover;
  width: inherit;
  height: inherit;
  border-radius: 50%;
}
