@import '../../../layouts//variables.module.scss';

.wrapper {
  display: grid;
  justify-content: center;
  align-items: flex-start;
  grid-template-columns: 1fr minmax(200px, 62%) 1fr;

  // padding for action bar, if scroll bottom
  padding-bottom: $actionBarHeight;

  > main {
    // same with menu
    min-height: 100%;

    // stretch children by height
    display: grid;

    > header {
      // because of grid
      align-self: flex-start;
    }
  }
}
