$actionBarSpace: 130px;

.wrapper {
  display: grid;
  justify-content: center;
  align-items: flex-start;
  grid-template-columns: 1fr minmax(200px, 62%) 1fr;
  padding-bottom: $actionBarSpace;
}

.container {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
