// $actionBarSpace: 130px;

.wrapper {
  display: grid;
  justify-content: center;
  align-items: flex-start;
  grid-template-columns: 1fr minmax(200px, 62%) 1fr;

  > main {
    padding-bottom: 60px;

    // stretch children
    display: grid;

    > header {
      // because of grid
      align-self: flex-start;
    }

    // same with menu
    min-height: 100%;
    box-sizing: content-box;
  }
}
