.actionPanel {
  display: flex;
  flex-direction: row;
  width: 100%;
  .stepWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    button {
      margin-left: 25px;
    }
  }

  .stepWraperJustified {
    @extend .stepWrapper;
    justify-content: space-between;
  }
}

.settingsPanel {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
}
