.wrapper {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 15px;
  padding-bottom: 0;
  z-index: 4;

  &::before {
    content: '';
    height: 87%;
    width: 100%;
    position: absolute;
    top: -5px;
    z-index: -1;
    left: 0;
    filter: blur(5px);

    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.92) 82.81%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  &.scroll {
    &::before {
      background-color: #000000;
    }
  }
}
