@import '../../style/mixins.scss';

.table {
  border-collapse: collapse;
  width: 100%;

  td,
  th {
    padding: 18px;
    text-align: center;
  }

  thead {
    color: #777777;

    th {
      font-weight: 400;
      position: relative;

      &.sortable {
        cursor: pointer;
        white-space: nowrap;

        > span {
          margin-left: 3px;
        }
      }

      &:hover {
        .resizer {
          opacity: 1;
        }
      }
    }
  }

  tbody {
    color: #ffffff;

    tr {
      td {
        word-wrap: break-word;
      }

      &.rowSelected {
        @include tableHover;
      }

      &:hover {
        @include tableHover;
      }
    }
  }

  &.selectable tbody tr {
    cursor: pointer;
  }
}

.resizer {
  position: absolute;
  top: 0;
  height: 100%;
  right: 0;
  width: 5px;
  background: red;
  cursor: col-resize;
  user-select: none;
  touch-action: none;
  opacity: 0;
}

.isResizing {
  background: blue;
  opacity: 1;
}
