.table {
  border-collapse: collapse;
  width: 100%;

  td,
  th {
    padding: 18px;
    text-align: center;
  }

  thead {
    color: #777777;

    th {
      font-weight: 400;
      text-transform: lowercase;
    }
  }

  tbody {
    color: #ffffff;

    tr {
      td {
        word-wrap: break-word;
      }

      &.rowSelected {
        box-shadow: inset 0px 0px 0px 1px #36d6ae;
      }

      &:hover {
        // background: #36d6ae24;
        background: linear-gradient(
          90deg,
          rgba(54, 214, 174, 0.15) -3.3%,
          rgba(54, 214, 174, 0.072) 32.75%,
          rgba(54, 214, 174, 0.0765) 62.88%,
          rgba(54, 214, 174, 0.15) 100%
        );
      }
    }
  }
}
