.table {
  border-collapse: collapse;
  width: 100%;

  td,
  th {
    padding: 18px;
  }

  thead {
    color: #777777;

    th {
      text-transform: lowercase;
    }
  }

  tbody {
    color: #ffffff;

    tr {
      &:hover {
        background: #36d6ae24;
      }
    }
  }
}
