@mixin text-input () {
  font-size: 1.25rem;
  text-align: left;
}

.contentValueInput {
  input {
    @include text-input;
  }
}

.containerBtnValue {
  height: 42px;
  background: transparent;
  border: none;
  @include text-input;
}

.containerListAndInput {
  position: relative;
  display: grid;
  grid-template-rows: 42px 1fr;
}

.containerList {
  display: grid;
  align-content: flex-start;
  position: absolute;
  height: 250px;
  width: 100%;
  top: 100%;
  z-index: 2;
  padding: 18px;
  gap: 18px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
  overflow-y: auto;
}


.containerButtonOption {
  color: #fff;
  display: flex;
  width: 100%;
}


.containerOptionItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.containerAvatarNickName {
  display: flex;
  align-items: center;
  gap: 5px;
}

.containerAvatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.containerOwner {
  color: #777777;
}

.containerNickName {
  font-size: 1rem;
}