@mixin text-input () {
  font-size: 1.25rem;
  text-align: left;
}

.contentValueInput {
  input {
    @include text-input;
  }
}

.containerBtnValue {
  height: 42px;
  background: transparent;
  border: none;
  @include text-input;
}

.containerListAndInput {
  position: relative;
  display: grid;
  grid-template-rows: 42px 1fr;
  gap: 25px;
}

.containerList {
  position: absolute;
  background: #000000bd;
  height: 200px;
  width: 100%;
  z-index: 2;
  overflow-y: auto;
  padding: 10px;
  top: 100%;

}