@import '../saber/index.module.scss';
@import './variables.module.scss';
@import '../../../style/mixins.scss';

.wrapper {
  // TODO: remove this
  z-index: 0;

  display: flex;
  flex-direction: column;

  &:not(.vertical) {
    @each $color in $valid-colors {
      &.#{$color} {
        @include saber-horizontal($color);
      }
    }
  }

  &.vertical {
    @each $color in $valid-colors {
      &.#{$color} {
        @include saber-vertical($color);
      }
    }
  }

  &.left {
    &::after {
      content: '';
      display: none;
    }

    border-right: unset !important;

    &.vertical {
      border-bottom: unset !important;
    }
  }

  &.right {
    &::before {
      content: '';
      display: none;
    }

    border-left: unset !important;

    &.vertical {
      border-top: unset !important;
    }
  }

  .inner {
    padding: $display-padding-top $display-padding-x;
    overflow: auto;

    height: 100%;
    max-height: 100%;

    // unclear gap, because of overflow:auto
    margin-top: -0.5px;

    @include blueScroll;
  }

  &.noPaddingX {
    .inner {
      padding-left: unset;
      padding-right: unset;
    }
  }

  &.noPaddingY {
    .inner {
      padding-top: unset;
      padding-bottom: unset;
    }
  }

  &.header {
    position: relative;
    top: -$display-padding-top;
  }

  @include blueScroll;
}
