.wrapper {
  height: 50px;
  width: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
  font-size: 20px;

  img {
    max-height: 100%;
    max-width: 100%;
  }

  background: rgba(217, 217, 217, 0.1);
}
