.containerMessageItem {
  background-color: #03cba029;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  width: 70%;

  span {
    white-space: pre-wrap;
  }
}

.containerLogRelayer {
  width: 720px;
  height: 400px;
  border: 1px solid black;
  text-align: left;
  padding: 5px;
}