.wrapper {
  max-width: 240px;
  text-align: center;

  h6,
  p {
    font-weight: 400;
  }

  h6 {
    color: var(--primary-color);
    text-shadow: 0 0 5px var(--primary-color);
    font-size: 20px;
    position: relative;
    z-index: 1;
    margin: 10px 0;

    // TODO: move to mixin
    &::before {
      content: '';
      z-index: -1;
      position: absolute;
      left: -20%;
      right: -20%;
      height: 100%;
      filter: blur(7.5px);
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 3.92%,
        rgba(54, 214, 174, 0.18) 46.46%,
        rgba(54, 214, 174, 0.18) 56.46%,
        rgba(0, 0, 0, 0) 100%
      );
    }
  }

  p {
    margin-top: 7px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.5);
  }

  a {
    &:hover {
      opacity: 0.7;
    }
  }
}
