.questionBtn {
  border: 1px solid var(--primary-color);
  color: var(--primary-color) !important;
  text-shadow: 0 0 5px var(--primary-color);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}
