.wrapper {
}

.header {
  &::before {
    content: '';

    background: linear-gradient(
      -90deg,
      rgba(0, 0, 0, 0) -3.3%,
      rgba(255, 255, 255, 0.15) 100%,
      rgba(31, 203, 255, 0.15) 100%
    );
    width: 50%;
    z-index: -1;
    // box-shadow: -1px 0px -5px 1px #ffffff;
    left: -15px;
    position: absolute;

    top: 0;
    height: 100%;
  }
  position: relative;
  top: -15px;

  padding: 15px;

  text-transform: lowercase;
  font-size: 20px;
  margin-bottom: 25px;
}
