@import '../../../../layouts/variables.module';

$robot-max-height: calc(100vh - $reservedTopHeight - $actionBarHeight);

@mixin max-height-screen() {
  max-height: calc($robot-max-height - $robotHeaderHeight);
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.content {
  display: grid;
  grid-template-columns: 335px 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  margin-right: -2px;
  height: 70vh;
  @include max-height-screen();

  &.NotOwner {
    max-height: calc($robot-max-height - $robotHeaderHeightNotOwner);
  }

  //Display
  > :first-child {
    > div {
      height: 100%;
      @include max-height-screen();
    }

    > div > div {
      // don't understand this scroll
      overflow-x: hidden;
    }
  }

  > :nth-child(2) {
    left: -2px;
    position: relative;
    overflow-x: auto;
  }
}
