.wrapper {
  > div {
    padding-right: 5px;
    display: flex;
    flex-direction: column;
  }
}

.title {
  text-transform: none;
}

.messages {
  // height: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  padding-right: 10px;
  margin-top: auto;

  overflow-y: auto;

  p {
    word-break: break-all;
  }
}

.noData {
  margin: auto;
  color: #616161;
  text-align: center;
}
