$headerHeight: 105px;

$adviserHeight: 60px;
$adviserOffset: 15px;

$robotHeaderHeight: 95px;
$robotNotOwnerMenuHeight: 45px;

$robotHeaderHeightNotOwner: $robotHeaderHeight + $robotNotOwnerMenuHeight;


$reservedTopHeight: $headerHeight + $adviserHeight - $adviserOffset;

$actionBarHeight: 102px;
