.containerTooltipCard {
  padding: 5px;
}

.defaultPillStatus {
  display: flex;
  content: '';
  width: 7px;
  height: 7px;
  padding: 0 4px;
  background-color: #cecece;
  color: #cecece;
  border-radius: 50%;
}

.defaultPillStatusColor {
  color: #cecece;
  background-color: transparent;  
}

.PillStatusNative {
  background-color: #36D6AE;
  color: #36D6AE;
}

.PillStatusIbc {
  background-color: #d500f9;
  color: #d500f9;
}

.PillStatusPool {
  background-color: #ff3d00;
  color: #ff3d00;
}


.containerRowItem {
  display: grid;
  grid-template-columns: 110px 1fr 0.7fr 1fr;
  height: 50px;
}

.containerColItem {
  display: flex;
  align-items: baseline;
}

.containerFormatNumberTokens {
  display: grid;
  gap: 5px;
  font-size: 16px;

  &Number {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 19px;
    white-space: nowrap;

    &Decimal {
      color: #777777;
      font-size: 14px;
    }
  }

  &DenomImg {

  }
}