.containerFormatNumberTokens {
  display: grid;
  gap: 5px;
  font-size: 14px;
  align-items: center;

  &Number {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    // line-height: 19px;
    white-space: nowrap;

    &Decimal {
      opacity: var(--text-opacity-4);
      font-size: 12px;
    }
  }
}
