.buttonIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &:hover {
    opacity: 0.7;
  }

  img {
    width: 40px;
    height: 55px;
    object-fit: cover;
  }
}