.cosmographStyle {
  //   background-color: red;
}

.wrapper {
  height: 100%;
  position: relative;
}

.total {
  top: 250px;
  color: white;
  left: calc(50% - 50px);
  position: absolute;
  z-index: 11;
}
