.containerNextUnfreeze {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.containerItemRow {
  display: flex;
  width: 100%;
  line-height: 20px;
  justify-content: space-between;
}

.colorTextStatusTime {
  color: #fff;

  &Unfreeze {
    color: #ff9100;
  }

  &Ready {
    color: #3ab793;
    // font-weight: 600;
  }
}
