.votesContainer {
  background-color: #ffffff14;
  border-radius: 5px;
  overflow: hidden;
  height: 10px;
  width: 100%;
  display: flex;
}

.voteSection {
  display: flex;
  height: 100%;
}

.voteYes {
  background-color: #3ab793;
}

.voteAbstain {
  background-color: #ccdcff;
}

.voteNo {
  background-color: #ffcf65;
}

.voteNoWithVeto {
  background-color: #fe8a8a;
}
