.PoolDataContainer {
  display: grid;
  margin: 0 auto;
  width: 100%;
}

.PoolCardContainer {
  &MyShares {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 40px;
    margin-top: 10px;

    &Title {
      display: flex;
      margin-bottom: 6px;
      color: #ffffffb3;
      font-weight: 600;
    }
  }
}

.TitlePoolContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;

  &InfoPool {
    display: flex;
    gap: 10px;
    align-items: center;

    &Img {
      display: flex;
      justify-content: center;
    }

    &Denom {
      display: flex;
      font-size: 18px;
      color: #fff;
      font-weight: 600;
    }

    &PoolText {
      font-size: 16px;
      color: #ffffffb3;
      font-weight: 600;
    }
  }

  &Inactive {
    position: absolute;
    right: 0px;
    margin-right: 15px;
    color: #ff9100;
    font-size: 18px;
    top: 0;
  }
}

.PoolsInfoContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-bottom: 15px;

  &Value {
    display: flex;
    justify-content: center;
    font-size: 18px;
  }

  &Text {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
}

.pools {
  display: grid;
  gap: 15px 0;
}
