.buttonSpacePussy {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -20%);
  bottom: 20%;
  color: #f62bfd;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  gap: 15px;
}

.textSpacePussy {
  font-size: 20px;
  transition: 1s;

  &:hover {
    font-size: 24px;
    text-shadow: 0 0 6px #f62bfd;
    opacity: 1;
    animation: blink2 2s infinite;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }
}

.arrowSpacePussy {
  opacity: 0.5;
  animation: blink 1s infinite;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0.9;
    height: 30px;
    // fill: #fff;
  }
  50% {
    opacity: 0.4;
    height: 20px;
    // fill: rgba(187, 187, 187, 0.917);
  }
}

@keyframes blink2 {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
}
