.wrapper {
  // position: relative;
  position: sticky;

  top: 75px;
  margin: auto;
  display: block;
  z-index: 3;
  max-width: 50%;
  // top: 25px;
  margin-top: -45px;
  margin-bottom: 10px;

  // border: 1px solid red;
  // margin-top: 60px;

  &::before {
    content: '';
    position: absolute;
    background-color: black;
    // border: 1px solid red;
    z-index: -1;
    width: 100%;
    height: 110%;
    left: 0;

    filter: blur(20px);
  }
}
.adviser {
}
