.wrapper {
  position: sticky;
  top: 80px;
  width: 60%;
  z-index: 4;
  min-height: 60px; // 2 lines of text
  margin: -45px auto 25px;
  display: flex;
  justify-content: center;

  @media (width <= 540px) {
    margin-top: unset;
  }
}

.blurWrapper {
  position: absolute;
  padding: 0 10px;

  &::before {
    content: '';
    position: absolute;
    background-color: black;
    z-index: -1;
    width: 100%;
    height: 110%;
    left: 0;
    filter: blur(12px);
  }
}
