.ActionBarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 10px 0;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.93) 76%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 2;

  &Content {
    max-width: 1000px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: center;
    padding: 0 3vw;
    position: relative;
  }
}

.ActionBarContentText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  // color: #777777;
  color: #fff;
  font-size: 20px;
  padding: 25px 0;
}
