.ActionBarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 25px 0;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.93) 76%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 2;

  &Content {
    flex-grow: 1;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0 3vw;
    position: relative;
  }
}

.ActionBarContentText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  font-size: 20px;
}
