.wrapper {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 20px;
  align-items: center;
  justify-items: flex-end;
}


.content {
  word-break: break-word;
  padding: 13px 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  font-size: 14px;
  min-height: 50px;
  min-width: 100px;
  max-width: 62%;

  align-self: flex-end;
}