
.copyBtn {
  background: url(../../image/ionicons_svg_ios-copy.svg) center center no-repeat;
  background-color: transparent;
  outline: none;
  border: none;
  height: 15px;
  width: 15px;
  cursor: pointer;
  margin-left: 5px;

  &:hover {
    opacity: 0.8;
  }
}