.loaderDot {
  display: inline-block;

  span {
    color: #3ab793;
    font-size: 30px;
    animation: blinkDot 1.4s infinite;
    border-radius: 50%;
    animation-fill-mode: both;
    line-height: 0;

    &:nth-child(2) {
      animation-delay: 0.2s;
    }

    &:nth-child(3) {
      animation-delay: 0.4s;
    }
  }
}

@keyframes blinkDot {
  0% {
    opacity: 0.2;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}

.loaderDotBig {
  span {
    font-size: 60px !important;
  }
}