.tabs {
  width: 62%;
  margin: 40px auto;

  @media (max-width: 768px) {
    width: 100%;
  }

  .tabLink {
    padding-right: 20px;
    background-image: url('../../components/buttons/AddFile/images/attach.svg');
    background-position: right 3px;
    background-repeat: no-repeat;
    background-size: 14px auto;
  }
}

.meta {
  display: flex;
  justify-content: space-between;
  min-width: 62vw;
  font-size: 14px;
  padding: 0 10px;

  .left {
    display: flex;
    gap: 7px;

    span:first-of-type {
      color: rgba(255, 255, 255, 0.5);
      font-size: 14px;
    }

    .rank {
      text-emphasis: none;
      color: #f62bfd;
      font-size: 14px;
    }
  }

  .center {
    display: flex;

    .date {
      margin-right: 10px;
    }
  }

  .right {
    display: flex;
    gap: 10px;

    button {
      opacity: 0.6;
    }
  }
}
